In [1]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('ticker_symbol_ch.db')
cur = conn.cursor()
sql = """select * from SSE"""
cur.execute(sql)
rows = cur.fetchall()
cur.close()
conn.close()

In [7]:
len(rows)

2092

In [10]:
rows[0][1]

'浦发银行'

In [ ]:
from get_index_us import get_nasdaq100
import pandas as pd

df = get_nasdaq100().sample(2)

In [2]:
df

  symbol weight
5   NVDA   3.26
3   TSLA  4.386