In [18]:
# 存入数据库
## Write into SQL
import sqlite3
#
import pandas as pd 
from datetime import datetime
## connect database
database = "ticker_symbol_us.db"
conn = sqlite3.connect(database)
print('connect success!')

connect success!

### <a href="#us">US</a>

### <a href="#ch">CH</a>

### <span id="us">US</span>

In [3]:
# create the table(only once)
try:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE {}(Ticker, Sector, Exchange)'.format('NASDAQ'))
    conn.commit()
    print("Table ceate successful!")
except:
    print("Table name already exists")

Table ceate successful!

In [12]:
df = pd.read_csv('nasdaq_ticker.csv',index_col=None)
df.drop(columns='Unnamed: 0',inplace=True)

In [6]:
# 写入（如果没有就写入，否则建立资料表）
try:
    df.to_sql('{}'.format('NASDAQ'), conn, if_exists='replace',index=False)
except:
    print('df already exits')

In [7]:
# create the table(only once)
try:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE {}(Ticker, Sector, Exchange)'.format('NYSE'))
    conn.commit()
    print("Table ceate successful!")
except:
    print("Table name already exists")

Table ceate successful!

In [10]:
nyse_df = pd.read_csv('nyse_ticker.csv',index_col=False)
nyse_df.drop(columns='Unnamed: 0',inplace=True)

In [9]:
# 写入（如果没有就写入，否则建立资料表）
try:
    df.to_sql('{}'.format('NYSE'), conn, if_exists='replace',index=False)
except:
    print('df already exits')

In [14]:
df = df.append(nyse_df)
df.index = range(len(df))

C:\Users\Rain\AppData\Local\Temp\ipykernel_27396\2657175054.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(nyse_df)

In [19]:
# create the table(only once)
try:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE {}(Ticker, Sector, Exchange)'.format('TOTAL'))
    conn.commit()
    print("Table ceate successful!")
except:
    print("Table name already exists")

Table ceate successful!

In [20]:
# 写入（如果没有就写入，否则建立资料表）
try:
    df.to_sql('{}'.format('TOTAL'), conn, if_exists='replace',index=False)
except:
    print('df already exits')

### <span id="ch">CH</span>

In [1]:
# 存入数据库
## Write into SQL
import sqlite3
#
import pandas as pd 
from datetime import datetime
## connect database
database = "ticker_symbol_ch.db"
conn = sqlite3.connect(database)
print('connect success!')

connect success!

In [2]:
sse_df = pd.read_csv('sse_ticker.csv',index_col=None)
sse_df.drop(columns='Unnamed: 0',inplace=True)
sse_df.drop(columns=['area'], inplace=True)
sse_df['exchange'] = 'SSE'

In [3]:
sse_df

        ts_code  symbol     name industry exchange
0     600000.SH  600000     浦发银行       银行      SSE
1     600004.SH  600004     白云机场       机场      SSE
2     600006.SH  600006     东风汽车     汽车整车      SSE
3     600007.SH  600007     中国国贸     园区开发      SSE
4     600008.SH  600008     首创环保     环境保护      SSE
...         ...     ...      ...      ...      ...
2087  688799.SH  688799     华纳药厂     化学制药      SSE
2088  688800.SH  688800      瑞可达      元器件      SSE
2089  688819.SH  688819     天能股份     电气设备      SSE
2090  688981.SH  688981     中芯国际      半导体      SSE
2091  689009.SH  689009  九号公司-WD      摩托车      SSE

[2092 rows x 5 columns]

In [4]:
# create the table(only once)
try:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE {}(symbol, name, industry, exchange)'.format('SSE'))
    conn.commit()
    print("Table ceate successful!")
except:
    print("Table name already exists")

Table name already exists

In [5]:
# 写入（如果没有就写入，否则建立资料表）
try:
    sse_df.to_sql('{}'.format('SSE'), conn, if_exists='replace',index=False)
except:
    print('df already exits')

In [6]:
szse_df = pd.read_csv('szse_ticker.csv',index_col=None,converters = {u'symbol':str})
szse_df.drop(columns='Unnamed: 0',inplace=True)
szse_df.drop(columns=['area'], inplace=True)
szse_df['exchange'] = 'SZSE'

In [7]:
szse_df

        ts_code  symbol  name industry exchange
0     000001.SZ  000001  平安银行       银行     SZSE
1     000002.SZ  000002   万科A     全国地产     SZSE
2     000004.SZ  000004  ST国华     软件服务     SZSE
3     000005.SZ  000005  ST星源     环境保护     SZSE
4     000006.SZ  000006  深振业A     区域地产     SZSE
...         ...     ...   ...      ...      ...
2630  301288.SZ  301288  清研环境     环境保护     SZSE
2631  301289.SZ  301289  国缆检测      综合类     SZSE
2632  301298.SZ  301298  东利机械     汽车配件     SZSE
2633  301302.SZ  301302  华如科技     软件服务     SZSE
2634  301312.SZ  301312  C智立方     专用机械     SZSE

[2635 rows x 5 columns]

In [8]:
# create the table(only once)
try:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE {}(symbol, name, industry, exchange)'.format('SZSE'))
    conn.commit()
    print("Table ceate successful!")
except:
    print("Table name already exists")

Table name already exists

In [9]:
# 写入（如果没有就写入，否则建立资料表）
try:
    szse_df.to_sql('{}'.format('SZSE'), conn, if_exists='replace',index=False)
except:
    print('df already exits')

In [10]:
sse_df

        ts_code  symbol     name industry exchange
0     600000.SH  600000     浦发银行       银行      SSE
1     600004.SH  600004     白云机场       机场      SSE
2     600006.SH  600006     东风汽车     汽车整车      SSE
3     600007.SH  600007     中国国贸     园区开发      SSE
4     600008.SH  600008     首创环保     环境保护      SSE
...         ...     ...      ...      ...      ...
2087  688799.SH  688799     华纳药厂     化学制药      SSE
2088  688800.SH  688800      瑞可达      元器件      SSE
2089  688819.SH  688819     天能股份     电气设备      SSE
2090  688981.SH  688981     中芯国际      半导体      SSE
2091  689009.SH  689009  九号公司-WD      摩托车      SSE

[2092 rows x 5 columns]

In [11]:
szse_df

        ts_code  symbol  name industry exchange
0     000001.SZ  000001  平安银行       银行     SZSE
1     000002.SZ  000002   万科A     全国地产     SZSE
2     000004.SZ  000004  ST国华     软件服务     SZSE
3     000005.SZ  000005  ST星源     环境保护     SZSE
4     000006.SZ  000006  深振业A     区域地产     SZSE
...         ...     ...   ...      ...      ...
2630  301288.SZ  301288  清研环境     环境保护     SZSE
2631  301289.SZ  301289  国缆检测      综合类     SZSE
2632  301298.SZ  301298  东利机械     汽车配件     SZSE
2633  301302.SZ  301302  华如科技     软件服务     SZSE
2634  301312.SZ  301312  C智立方     专用机械     SZSE

[2635 rows x 5 columns]

In [12]:
df = sse_df.append(szse_df)
df.index = range(len(df))

C:\Users\Rain\AppData\Local\Temp\ipykernel_30876\2421358513.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = sse_df.append(szse_df)

In [13]:
df

        ts_code  symbol  name industry exchange
0     600000.SH  600000  浦发银行       银行      SSE
1     600004.SH  600004  白云机场       机场      SSE
2     600006.SH  600006  东风汽车     汽车整车      SSE
3     600007.SH  600007  中国国贸     园区开发      SSE
4     600008.SH  600008  首创环保     环境保护      SSE
...         ...     ...   ...      ...      ...
4722  301288.SZ  301288  清研环境     环境保护     SZSE
4723  301289.SZ  301289  国缆检测      综合类     SZSE
4724  301298.SZ  301298  东利机械     汽车配件     SZSE
4725  301302.SZ  301302  华如科技     软件服务     SZSE
4726  301312.SZ  301312  C智立方     专用机械     SZSE

[4727 rows x 5 columns]

In [14]:
# create the table(only once)
try:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE {}(symbol, name, industry, exchange)'.format('TOTAL'))
    conn.commit()
    print("Table ceate successful!")
except:
    print("Table name already exists")

Table name already exists

In [15]:
# 写入（如果没有就写入，否则建立资料表）
try:
    df.to_sql('{}'.format('TOTAL'), conn, if_exists='replace',index=False)
except:
    print('df already exits')