In [20]:
import tushare as ts

In [5]:
ts.get_hist_data('000001')

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2022-07-12,14.41,14.73,14.42,14.38,742882.38,-0.04,-0.28,14.474,14.676,14.537,753553.74,931244.45,1140839.33,0.38
2022-07-11,14.50,14.57,14.46,14.36,611691.94,-0.08,-0.55,14.572,14.697,14.522,828011.69,969467.26,1161266.68,0.32
2022-07-08,14.50,14.65,14.54,14.37,639698.25,0.12,0.83,14.668,14.700,14.494,872666.91,1058025.89,1208069.72,0.33
2022-07-07,14.54,14.65,14.42,14.38,730160.94,-0.11,-0.76,14.744,14.669,14.483,900575.94,1080660.13,1243385.43,0.38
2022-07-06,14.83,14.93,14.53,14.46,1043335.19,-0.38,-2.55,14.856,14.647,14.480,1064292.75,1088246.84,1288522.44,0.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-17,16.38,16.55,16.39,16.35,605436.69,0.06,0.37,16.598,16.598,16.598,933921.49,933921.49,933921.49,0.31
2020-01-16,16.52,16.57,16.33,16.20,1028104.62,-0.19,-1.15,16.650,16.650,16.650,1016042.69,1016042.69,1016042.69,0.53
2020-01-15,16.79,16.86,16.52,16.45,859439.12,-0.24,-1.43,16.757,16.757,16.757,1012022.04,1012022.04,1012022.04,0.44
2020-01-14,16.99,17.27,16.76,16.76,1304493.62,-0.23,-1.35,16.875,16.875,16.875,1088313.50,1088313.50,1088313.50,0.67
2020-01-13,16.75,17.03,16.99,16.61,872133.38,0.30,1.80,16.990,16.990,16.990,872133.38,872133.38,872133.38,0.45

In [21]:
ts.set_token('28ce867873a056747209a2ef0ff53d98ed850903fd954417ac69553b')
pro = ts.pro_api()

In [13]:
sse_ticker = pro.query('stock_basic', exchange='SSE', list_status='L', fields='ts_code,symbol,name,area,industry')

In [14]:
sse_ticker

        ts_code  symbol     name area industry
0     600000.SH  600000     浦发银行   上海       银行
1     600004.SH  600004     白云机场   广东       机场
2     600006.SH  600006     东风汽车   湖北     汽车整车
3     600007.SH  600007     中国国贸   北京     园区开发
4     600008.SH  600008     首创环保   北京     环境保护
...         ...     ...      ...  ...      ...
2087  688799.SH  688799     华纳药厂   湖南     化学制药
2088  688800.SH  688800      瑞可达   江苏      元器件
2089  688819.SH  688819     天能股份   浙江     电气设备
2090  688981.SH  688981     中芯国际   上海      半导体
2091  689009.SH  689009  九号公司-WD   北京      摩托车

[2092 rows x 5 columns]

In [28]:
szse_ticker = pro.query('stock_basic', exchange='SZSE', list_status='L', fields='ts_code,symbol,name,area,industry')

In [26]:
szse_ticker

        ts_code  symbol  name area industry
0     000001.SZ  000001  平安银行   深圳       银行
1     000002.SZ  000002   万科A   深圳     全国地产
2     000004.SZ  000004  ST国华   深圳     软件服务
3     000005.SZ  000005  ST星源   深圳     环境保护
4     000006.SZ  000006  深振业A   深圳     区域地产
...         ...     ...   ...  ...      ...
2630  301288.SZ  301288  清研环境   深圳     环境保护
2631  301289.SZ  301289  国缆检测   上海      综合类
2632  301298.SZ  301298  东利机械   河北     汽车配件
2633  301302.SZ  301302  华如科技   北京     软件服务
2634  301312.SZ  301312  C智立方   深圳     专用机械

[2635 rows x 5 columns]

In [17]:
bse_ticker = pro.query('stock_basic', exchange='BSE', list_status='L', fields='ts_code,symbol,name,area,industry')

In [18]:
bse_ticker

       ts_code  symbol  name  area industry
0    430047.BJ  430047  诺思兰德  None     None
1    430090.BJ  430090  同辉信息  None     None
2    430198.BJ  430198  微创光电  None     None
3    430418.BJ  430418  苏轴股份  None     None
4    430489.BJ  430489  佳先股份  None     None
..         ...     ...   ...   ...      ...
99   871970.BJ  871970  大禹生物  None     None
100  871981.BJ  871981  晶赛科技  None     None
101  872925.BJ  872925  锦好医疗  None     None
102  873169.BJ  873169  七丰精工  None     None
103  873223.BJ  873223  荣亿精密  None     None

[104 rows x 5 columns]

In [29]:
import pandas as pd
# sse_ticker.to_csv('sse_ticker.csv')
szse_ticker.to_csv('szse_ticker.csv')
# bse_ticker.to_csv('bse_ticker.csv')