In [1]:
import pandas as pd
import requests
import urllib.parse
import urllib.request
import sqlite3
from datetime import datetime
from urllib.request import urlopen
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
from tqdm import tqdm
# define the header
# write your own header here
# get your header at "chrome://version"
headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'}
# create engine
engine = create_engine('sqlite:///../../dataset/us/us_ticker_net_income_mac.db')
# # create database connection
# database = '../../dataset/us/us_ticker_eps_annual.db'
# conn = sqlite3.connect(database)
# print('sql connect success!')
# import the list
name_engine = create_engine('sqlite:///../../dataset/us/us_ticker_list_with_name.db')
log_engine = create_engine('sqlite:///../../dataset/us/us_log_record.db')
name_df = pd.read_sql('TOTAL', con=name_engine)

In [3]:
name_df[name_df.Symbol == 'WINT']

     Symbol           Company Name
6043   WINT  Windtree-Therapeutics