In [1]:
from gather_data import script_get_index as get_index
# -----------------------------------#
# China:
# 上证50 get_sz50()
# 沪深300 get_hs300()
# 中证500 get_zz500()
# -----------------------------------#
# US:
# Nasdaq100 get_nasdaq100()
# SP500 get_sp500()
# -----------------------------------#

In [2]:
get_index.get_hs300()

login success!

     updateDate       code code_name
0    2022-08-01  sh.600000      浦发银行
1    2022-08-01  sh.600009      上海机场
2    2022-08-01  sh.600010      包钢股份
3    2022-08-01  sh.600011      华能国际
4    2022-08-01  sh.600015      华夏银行
..          ...        ...       ...
295  2022-08-01  sz.300896       爱美客
296  2022-08-01  sz.300919      中伟股份
297  2022-08-01  sz.300957       贝泰妮
298  2022-08-01  sz.300979      华利集团
299  2022-08-01  sz.300999       金龙鱼

[300 rows x 3 columns]

In [1]:
from gather_data import script_get_eps as gs

In [ ]:
gs.get_eps(ticker_list=ticker_list)

In [18]:
import pandas as pd
import requests
import urllib.parse
import urllib.request
import sqlite3
from urllib.request import urlopen
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
# define the header
# write your own header here
# get your header at "chrome://version"
headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'}

In [20]:
ticker_list = pd.read_csv('../scripts/gather_data/ticker_list_with_name.csv')
ticker_list[ticker_list.Symbol == 'AXS']

    Symbol           Company Name
625    AXS  AXIS-Capital-Holdings

In [7]:
ticker_list = ticker_list[547:]

In [8]:
ticker_list

     Symbol                  Company Name
547    ATRC                      AtriCure
548    ATRI                        Atrion
549    ATRO                     Astronics
550    ATSG  Air-Transport-Services-Group
551    ATTO                        Atento
...     ...                           ...
6240    ZWS          Zurn-Water-Solutions
6241     ZY                      Zymergen
6242   ZYME                     Zymeworks
6243   ZYNE       Zynerba-Pharmaceuticals
6244   ZYXI                         Zynex

[5698 rows x 2 columns]

In [9]:
ticker_symbol_list = ticker_list.Symbol.to_list()
ticker_name_list = ticker_list['Company Name'].to_list()
ticker_length = len(ticker_symbol_list)

In [ ]:
for i in range(ticker_length):
    try:
        html_data = requests.get('https://www.macrotrends.net/stocks/charts/{}/{}/eps-earnings-per-share-diluted'.format(ticker_symbol_list[i], ticker_name_list[i]),headers=headers)
        soup = BeautifulSoup(html_data.text, 'lxml')
        target_table = soup.find_all('table', attrs={'class':'historical_data_table'})
        # Annual
        target_table_01 = target_table[0]
        ticker_eps_annual = pd.DataFrame(columns=['datetime','eps'])
        # create engine
        engine = create_engine('sqlite:///../dataset/us/us_ticker_eps_annual.db')
        # ------------------------------- # 
        #        get annual eps
        # ------------------------------- #
        for row in target_table_01.find_all('tr'):
            col = row.find_all('td')
            len_col = len(col)
            # print(len_col)
            # create the dataframe
            if len_col == 2:
                date = col[0].text
                eps = col[1].text[1:]
                temp = pd.DataFrame([[date, eps]],columns=['datetime','eps'])
                ticker_eps_annual = pd.concat([ticker_eps_annual,temp],ignore_index=True)
        ticker_eps_annual.eps = ticker_eps_annual.eps.astype(float)
        ticker_eps_annual.to_sql('{}'.format(ticker_symbol_list[i]),if_exists='replace', con=engine)
    except:
        print('{} wrong'.format(ticker_symbol_list[i]))

In [ ]:
ABEO wrong
ABIO wrong
ABVC wrong
ACHV wrong
ACKIT wrong
ACRS wrong
AEZS wrong
AGGR wrong
AGMA wrong
AGRX wrong
AIKI wrong
AIMA wrong
AINC wrong
AKOA wrong
AKOB wrong
ALLY wrong
AMOV wrong
APCX wrong
APTO wrong
ARMP wrong
ASPN wrong
ATC wrong
ATEC wrong

In [4]:
# create engine
engine = create_engine('sqlite:///../dataset/us/us_ticker_eps_annual.db')
# ------------------------------- # 
#        get annual eps
# ------------------------------- #
for row in target_table_01.find_all('tr'):
    col = row.find_all('td')
    len_col = len(col)
    # print(len_col)
    # create the dataframe
    if len_col == 2:
        date = col[0].text
        eps = col[1].text[1:]
        temp = pd.DataFrame([[date, eps]],columns=['datetime','eps'])
        ticker_eps_annual = pd.concat([ticker_eps_annual,temp],ignore_index=True)
ticker_eps_annual.eps = ticker_eps_annual.eps.astype(float)
ticker_eps_annual.to_sql('{}'.format('A'),if_exists='replace', con=engine)
# print('No.{} {} ok'.format(i,ticker_symbol_list[i]))
# log_list.append('annual {} ok by year'.format(ticker_symbol_list[i]))

26

In [5]:
from gather_data import script_get_eps as gs

In [2]:
from gather_data import script_get_eps as eps

In [3]:
eps.get_eps()

FileNotFoundError: [Errno 2] No such file or directory: 'ticker_list_with_name.csv'

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('../scripts/gather_data/ticker_list_with_name.csv')

In [8]:
df

     Symbol             Company Name
0         A     Agilent-Technologies
1        AA                    Alcoa
2       AAC         Ares-Acquisition
3      AACG    ATA-Creativity-Global
4      AACI     Armada-Acquisition-I
...     ...                      ...
6240    ZWS     Zurn-Water-Solutions
6241     ZY                 Zymergen
6242   ZYME                Zymeworks
6243   ZYNE  Zynerba-Pharmaceuticals
6244   ZYXI                    Zynex

[6245 rows x 2 columns]

In [9]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine('sqlite:///../dataset/us/us_ticker_list_with_name.db')

In [17]:
df.to_sql('TOTAL',con=engine,if_exists='replace', index=None)

6245

In [23]:
log_df = pd.DataFrame(columns=['symbol','status'])

In [24]:
log_df

Empty DataFrame
Columns: [symbol, status]
Index: []

In [25]:
symbol = 'AAPL'
status = 'ok'

In [26]:
temp = pd.DataFrame([[symbol, status]], columns=['symbol','status'])

In [29]:
temp

  symbol status
0   AAPL     ok

In [31]:
log_df = pd.concat([log_df, temp])

In [32]:
log_df

  symbol status
0   AAPL     ok