In [4]:
import pandas as pd
from sqlalchemy import create_engine
downtrend_list =[['2022-01-03', '2022-06-21'],
                ['2020-02-20', '2022-03-23'],
                ['2018-10-03', '2018-12-26']]
res_engine = create_engine('sqlite:///downtrend_select_result.db')

In [3]:
start_date_list = []
for period in downtrend_list:
    start_date_list.append(period[0])
start_date_list

['2022-01-03', '2020-02-20', '2018-10-03']

In [5]:
df = pd.read_sql(start_date_list[0], con=res_engine)

In [10]:
df

,ticker,dec_rate,dec_time,rec_h_time,rec_l_time,pft_30,pft_60,pft_90,pft_180
0,A,0.280,117,1,39,0.074328,0.201872,0.201872,0.201872
1,AA,0.343,132,5,11,0.194882,0.263237,0.263237,0.263237
2,AAC,0.006,105,0,9908,0.005144,0.006173,0.012346,0.013374
3,AACG,0.261,819,0,1,0.408602,0.408602,0.408602,0.408602
4,AACI,0.012,29,0,9992,0.000000,0.011224,0.011224,0.018163
...,...,...,...,...,...,...,...,...,...
5270,ZWS,0.284,95,3,8310,0.145434,0.166421,0.166421,0.166421
5271,ZY,0.843,98,9724,3,0.340580,0.775362,1.442029,1.442029
5272,ZYME,0.731,80,8740,1,0.170213,0.170213,0.170213,0.216039
5273,ZYNE,0.723,91,8314,18,0.000000,0.000000,0.054264,0.054264
5274,ZYXI,0.463,48,22,7,0.198400,0.198400,0.419200,0.585600

In [22]:
temp = df[df.pft_60 > 0.3]
len(temp[temp.dec_rate > 0.34]) / len(temp)

0.6507177033492823

In [16]:
df.sort_values(by=['dec_rate']).head(int(len(df)/5)).pft_60.describe()

count    1055.000000
mean        0.150815
std         0.669351
min         0.000000
25%         0.009312
50%         0.059536
75%         0.192395
max        20.964286
Name: pft_60, dtype: float64

In [9]:
test_df = df[['ticker','rec_h_time']]
test_df[test_df.profit_60 > 0.3]

4289       0
4101       0
4099       0
2018       0
2020       0
        ...
2434    9906
4467    9913
665     9919
3493    9950
2095    9950
Name: rec_h_time, Length: 5275, dtype: int64