In [1]:
import pandas as pd
df = pd.read_csv('SPX.csv')
df.trade_date = df.trade_date.apply(lambda x: str(x))

In [3]:
df.rename(columns={'trade_date':'datetime'})

,ts_code,trade_date,open,close,high,low,pre_close,change,pct_chg,swing,vol
0,SPX,20220913,4037.12,3932.69,4037.12,3921.28,4110.41,-177.72,-4.32,2.82,2642497.0
1,SPX,20220912,4083.67,4110.41,4119.28,4083.67,4067.36,43.05,1.06,0.88,2147245.0
2,SPX,20220909,4022.94,4067.36,4076.81,4022.94,4006.18,61.18,1.53,1.34,2097275.0
3,SPX,20220908,3959.94,4006.18,4010.50,3944.81,3979.87,26.31,0.66,1.65,2290058.0
4,SPX,20220907,3909.43,3979.87,3987.89,3906.03,3908.19,71.68,1.83,2.09,2209800.0
...,...,...,...,...,...,...,...,...,...,...,...
3995,SPX,20061010,1350.64,1353.42,1354.23,1348.60,1350.66,2.76,0.20,0.42,NaN
3996,SPX,20061009,1349.58,1350.66,1352.69,1346.55,1349.58,1.08,0.08,0.45,NaN
3997,SPX,20061006,1352.42,1349.58,1353.22,1344.21,1353.22,-3.63,-0.27,0.67,NaN
3998,SPX,20061005,1349.84,1353.22,1353.79,1347.75,1350.22,3.00,0.22,0.45,NaN
3999,SPX,20061004,1333.81,1350.22,1350.22,1331.48,1334.11,16.10,1.21,1.40,NaN

In [2]:
from sqlalchemy import create_engine
price_engine = create_engine('sqlite:///../../../dataset/us/us_ticker_price_yf.db')
df.to_sql('SPX',con=price_engine)

4000