In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
price_engine = create_engine('sqlite:///../../../datatset/us/us_ticker_seven_year_price.db')
# result_engine = create_engine('sqlite:///strategy\strategy01_select\select_technical\select_test_result\select_test_result.db')
result_engine = create_engine('sqlite:///select_test_result/select_test_result.db')

In [11]:
date_list = ['2019-04-01','2019-07-01','2019-10-01','2020-01-02',
            '2020-04-01','2020-07-01','2020-10-01','2021-01-04'
            '2021-04-01','2021-07-01','2021-10-01','2022-01-03']

In [19]:
target_date = '2019-04-01'
df = pd.read_sql('{}_test_res'.format(target_date),con=result_engine)
# df.query('profit_avg_60 > 0.05 and (profit_avg_60/2 + decline_avg_60) > 0')
df.query('(profit_avg_60/2 + decline_avg_60) > 0')

,profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,declince_avg_90,decline_avg_120
7,0.162109,0.235128,0.284579,-0.074499,-0.074499,-0.074499
9,0.103247,0.177699,0.206342,-0.027469,-0.036375,-0.036375
12,0.198328,0.305167,0.356838,-0.068526,-0.068526,-0.068526
14,0.139968,0.153225,0.247298,-0.052820,-0.072038,-0.072038
16,0.151099,0.227798,0.272932,-0.016527,-0.016527,-0.016527
...,...,...,...,...,...,...
9978,0.176326,0.221443,0.221443,-0.081679,-0.084699,-0.084699
9981,0.141843,0.176412,0.223733,-0.045455,-0.045455,-0.045455
9989,0.105565,0.122600,0.154771,-0.049457,-0.101894,-0.118737
9995,0.056373,0.113496,0.120477,-0.026592,-0.030166,-0.033360
9997,0.169530,0.194759,0.203088,-0.045644,-0.045644,-0.045644

In [15]:
df

,profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,declince_avg_90,decline_avg_120
0,0.085214,0.131444,0.190979,-0.051332,-0.051332,-0.051332
1,0.030839,0.046639,0.054733,-0.117745,-0.120537,-0.120537
2,0.074371,0.118090,0.125701,-0.107163,-0.113869,-0.113869
3,0.084901,0.140103,0.172428,-0.221618,-0.348044,-0.348044
4,0.109656,0.154589,0.167756,-0.135547,-0.135845,-0.135845
...,...,...,...,...,...,...
9995,0.056373,0.113496,0.120477,-0.026592,-0.030166,-0.033360
9996,0.072839,0.135352,0.160180,-0.121463,-0.121463,-0.121463
9997,0.169530,0.194759,0.203088,-0.045644,-0.045644,-0.045644
9998,0.045363,0.135446,0.171951,-0.047735,-0.047735,-0.047735
9999,0.059406,0.062418,0.081332,-0.065318,-0.065318,-0.086028