In [13]:
import pandas as pd 
from sqlalchemy import create_engine
engine = create_engine('sqlite:///../../../dataset/us/us_ticker_with_indicator.db')
price_engine = create_engine('sqlite:///../../../dataset/us/us_ticker_seven_year_price.db')

In [16]:
sample_price_df = pd.read_sql('{}'.format('AAPL'), con=price_engine)
sample_price_df

            Open        High         Low       Close       Volume    datetime
0      25.678424   25.744624   25.119156   25.194487  212935600.0  2015-09-03
1      24.874909   25.212752   24.769904   24.943390  199985200.0  2015-09-04
2      25.509503   25.694403   25.183072   25.637335  219374400.0  2015-09-08
3      25.968326   26.027675   25.057516   25.144260  340043200.0  2015-09-09
4      25.171659   25.858761   25.087199   25.696688  251571200.0  2015-09-10
...          ...         ...         ...         ...          ...         ...
1758  161.149994  162.899994  159.820007  161.380005   73314000.0  2022-08-29
1759  162.130005  162.559998  157.720001  158.910004   77906200.0  2022-08-30
1760  160.309998  160.580002  157.139999  157.220001   87991100.0  2022-08-31
1761  156.639999  158.419998  154.669998  157.960007   74229900.0  2022-09-01
1762  159.750000  160.360001  154.970001  155.809998   76905200.0  2022-09-02

[1763 rows x 6 columns]

In [ ]:
    # # p_1 = multiprocessing.Process(target=get_daily_indicator, args=('2019-10-01',)) 
    # # p_2 = multiprocessing.Process(target=get_daily_indicator, args=('2019-07-01',))
    # # p_3 = multiprocessing.Process(target=get_daily_indicator, args=('2020-04-01',))
    # # p_4 = multiprocessing.Process(target=get_daily_indicator, args=('2020-07-01',))
    # # p_5 = multiprocessing.Process(target=get_daily_indicator, args=('2020-10-01',))

    # p_6 = multiprocessing.Process(target=get_daily_indicator, args=('2020-01-02',))
    # p_7 = multiprocessing.Process(target=get_daily_indicator, args=('2021-01-04',))
    # p_8 = multiprocessing.Process(target=get_daily_indicator, args=('2021-04-01',))
    # p_9 = multiprocessing.Process(target=get_daily_indicator, args=('2021-07-01',))
    # p_10 = multiprocessing.Process(target=get_daily_indicator, args=('2021-10-01',))
    # p_11 = multiprocessing.Process(target=get_daily_indicator, args=('2022-01-03',))

In [3]:
df = pd.read_sql('2019-10-01',con=engine)
df

,Open,High,Low,Close,Volume,datetime,ticker,MA10,MA20,MA50,MA150,MA200,VMA20,VMA50,year_high,year_low,rs
0,75.066068,75.448757,73.191866,73.437180,2189100.0,2019-10-01,A,75.264839,74.527743,70.618710,72.472216,71.890909,2613125.0,2615372.00,80.348387,59.338333,0.110
1,20.048712,20.723954,19.562141,19.721022,3241700.0,2019-10-01,AA,20.878863,20.883828,20.001247,23.461462,24.644475,3770220.0,3479452.00,45.131946,16.344814,-0.498
2,1.600000,1.600000,1.500000,1.510000,12400.0,2019-10-01,AACG,1.725000,1.793500,2.046200,2.001800,1.758550,17720.0,39464.00,4.500000,0.880000,0.327
3,9.900000,10.500000,9.750000,10.140000,2433.0,2019-10-01,AADI,10.543500,10.499250,10.607700,16.331800,22.956225,3197.3,4894.12,63.750000,9.150000,-0.796
4,5.279923,5.337628,5.106811,5.174133,331400.0,2019-10-01,AAIC,5.232025,5.090007,5.268184,6.143719,6.340690,420455.0,417168.00,7.625671,4.426760,-0.354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3866,15.050000,15.340000,14.610000,14.650000,1399200.0,2019-10-01,ZUO,15.380000,15.366000,14.792000,17.763267,18.391550,1534860.0,1362244.00,24.650000,13.040000,-0.363
3867,26.726983,26.942602,25.776297,25.786098,702200.0,2019-10-01,ZWS,26.766189,27.040614,26.826367,27.055838,26.435998,737005.0,707394.00,31.215784,20.954271,-0.093
3868,24.870001,25.379999,24.670000,25.090000,200000.0,2019-10-01,ZYME,26.208000,26.586500,25.380200,20.836200,19.338200,316255.0,236902.00,29.750000,10.720000,0.768
3869,7.540000,7.660000,7.220000,7.360000,600900.0,2019-10-01,ZYNE,7.966000,9.835000,10.482200,10.478533,8.946200,1150750.0,973588.00,16.469999,2.750000,0.294
3870,8.514674,8.910288,8.514674,8.748446,121330.0,2019-10-01,ZYXI,8.670223,8.459379,8.202859,6.822349,5.945299,211123.0,263731.60,10.564670,2.153412,2.026

In [ ]:
# # selection string
# conditon1 = 'Close > MA20'
# condi

In [17]:
df = df.query('Close > MA20 and Close > year_low*1.25 and Close > year_high * 0.75 and Close> 12 and MA20 > MA50 > MA200')
df.index = range(len(df))
df['rs_rank'] = 0
for i in range(len(df)):
    val = df.iloc[i].rs
    df['rs_rank'].iloc[i] = int(round(df[df.rs < val].rs.count()  / len(df),2)*100)
res = df.sort_values(by='rs_rank', ascending=False)
# ticker_list = res[res.rs_rank > 75].symbol.to_list()
res = res.query('rs_rank >= 70 and rs_rank <= 90')
res

C:\Users\Rain\AppData\Local\Temp\ipykernel_37140\2266311465.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rs_rank'].iloc[i] = int(round(df[df.rs < val].rs.count()  / len(df),2)*100)

,Open,High,Low,Close,Volume,datetime,ticker,MA10,MA20,MA50,MA150,MA200,VMA20,VMA50,year_high,year_low,rs,rs_rank
201,28.030001,28.250000,27.240000,27.620001,24500.0,2019-10-01,NWPX,27.780000,27.190000,25.595200,25.005400,24.570350,24455.0,27308.0,28.930000,16.520000,0.436,90
315,76.447387,77.036688,75.772675,76.934204,510600.0,2019-10-01,WPC,76.181946,75.609703,74.393243,69.424701,66.622069,579120.0,657322.0,77.736182,50.315137,0.452,90
241,189.205393,190.386165,187.214689,187.282990,240800.0,2019-10-01,RNR,187.043919,185.370143,182.325635,166.510744,158.010937,254840.0,299044.0,190.405686,115.215374,0.444,90
115,105.258311,105.573077,104.673741,105.510124,755700.0,2019-10-01,ETR,104.707009,103.470424,99.627206,91.107260,87.568962,1358010.0,1291768.0,106.427442,68.834937,0.442,90
29,118.094600,118.619587,117.483700,118.228233,972200.0,2019-10-01,AWK,118.000106,117.758136,116.121977,108.244459,103.330840,1195760.0,1028734.0,123.984070,80.868873,0.424,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,18.452919,18.551453,18.058779,18.354383,5729900.0,2019-10-01,KIM,18.084260,17.779871,17.033751,16.153294,15.622730,4519410.0,4038844.0,18.551453,12.020691,0.272,71
41,20.780001,21.000000,20.410000,20.430000,1386700.0,2019-10-01,BLDR,20.459000,20.091000,19.235600,16.346133,15.388250,1039045.0,1133692.0,21.000000,10.150000,0.272,71
55,51.283417,51.827612,51.043604,51.532455,803900.0,2019-10-01,CCEP,51.319391,51.284803,51.205941,49.914138,48.037667,1042770.0,1148606.0,53.819922,38.490200,0.267,71
242,15.570000,16.075001,15.570000,15.720000,310600.0,2019-10-01,ROAD,15.607000,15.488500,15.128600,13.752667,12.981300,446765.0,270670.0,16.740000,7.700000,0.263,70
31,20.569982,20.868840,20.569982,20.834684,471100.0,2019-10-01,AY,20.637437,20.681413,20.126851,18.371275,17.584621,327000.0,307042.0,21.133539,14.162248,0.265,70

In [35]:
test_result = pd.DataFrame(columns=['profit_avg_60','profit_avg_90','profit_avg_120','decline_avg_60','declince_avg_90','decline_avg_120'])
trade_date = '2019-10-01'
test_count = 10000
for i in range(test_count):
    # 抽样
    samples = res.sample(3)
    samples_list = samples.ticker.to_list()
    # store the data 
    profit_avg_60 = 0.0
    profit_avg_90 = 0.0
    profit_avg_120 = 0.0
    decline_avg_60 = 0.0
    decline_avg_90 = 0.0
    decline_avg_120 = 0.0
    for sample in samples_list:
        try:
            # print(sample)
            sample_price_df = pd.read_sql('{}'.format(sample), con=price_engine)
            start_index = sample_price_df[sample_price_df.datetime == trade_date].index.values[0]
            start_price = sample_price_df[sample_price_df.datetime == trade_date].Close.values[0]
            if start_price < 12:
                break
            else:
                sample_price_df = sample_price_df[start_index:]
                sample_price_df.index = range(len(sample_price_df))
                # 
                max_60 = sample_price_df[0:43].Close.max()
                min_60 = sample_price_df[0:43].Close.min()
                max_90 = sample_price_df[0:65].Close.max()
                min_90 = sample_price_df[0:65].Close.min()
                max_120 = sample_price_df[0:85].Close.max()
                min_120 = sample_price_df[0:85].Close.min()
                # print(start_price,max_60,max_90,max_120)
                # 
                profit_60 = (max_60 - start_price) / start_price
                profit_90 = (max_90 - start_price) / start_price
                profit_120 = (max_120 - start_price) / start_price
                decline_60 = (min_60 - start_price) / start_price
                decline_90 = (min_90 - start_price) / start_price
                decline_120 = (min_120 - start_price) / start_price
                # print(profit_60,profit_90,profit_120)
                # 
                profit_avg_60 += profit_60
                profit_avg_90 += profit_90
                profit_avg_120 += profit_120
                decline_avg_60 += decline_60
                decline_avg_90 += decline_90
                decline_avg_120 += decline_120

        except:
            print('{} is wrong, result invalued'.format(sample))
            break
    profit_avg_60 = profit_avg_60 / 3
    profit_avg_90 = profit_avg_90 / 3
    profit_avg_120 = profit_avg_120 / 3
    decline_avg_60 = decline_avg_60 / 3
    decline_avg_90 = decline_avg_90 / 3
    decline_avg_120 = decline_avg_120 / 3
    temp = pd.DataFrame([[profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,decline_avg_90,decline_avg_120]],columns=['profit_avg_60','profit_avg_90','profit_avg_120','decline_avg_60','declince_avg_90','decline_avg_120'])
    test_result = pd.concat([test_result, temp],ignore_index=True)
test_result

,profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,declince_avg_90,decline_avg_120
0,0.081384,0.089511,0.116679,-0.02921,-0.068973,-0.068973
1,0.032258,0.089594,0.139092,-0.045589,-0.045589,-0.045589
2,0.17351,0.220086,0.231492,-0.022115,-0.022115,-0.022115
3,0.026765,0.039744,0.070335,-0.038557,-0.05565,-0.05565
4,0.024478,0.039402,0.084787,-0.075931,-0.075931,-0.075931
...,...,...,...,...,...,...
9995,0.081194,0.087717,0.128724,-0.018209,-0.026378,-0.035448
9996,0.07677,0.088335,0.115688,-0.09961,-0.101825,-0.101825
9997,0.021002,0.104694,0.141759,-0.128607,-0.128607,-0.128607
9998,0.035608,0.045632,0.067794,-0.04176,-0.067574,-0.067574
9999,0.037993,0.037993,0.069134,-0.03595,-0.06688,-0.06688

In [36]:
len(test_result[test_result.profit_avg_60 > 0.1])

2331

In [37]:
len(test_result[test_result.profit_avg_90 > 0.1].index)

4138

In [38]:
len(test_result[test_result.profit_avg_120 > 0.1].index)

6683

In [41]:
result_engin = create_engine('sqlite:///../../../dataset/us/us_select_technical_result.db')
test_result.to_sql('{}_results'.format(trade_date),if_exists='replace', con=result_engin,index=None)

10000

In [8]:
df_con2 = df.query('Close > MA50 and Close > one_year_low*1.25  and Close > one_year_high*0.75 and Close> 12 and MA20 > MA50 > MA150 > MA200')
df_con2

,Open,High,Low,Close,Volume,datetime,MA10,MA20,MA50,MA150,MA200,VMA20,VMA50,symbol,one_year_high,one_year_low,rs
60,85.370003,86.029999,82.480003,82.639999,783400.0,2022-08-26,82.870999,82.084500,76.765800,68.615867,66.158550,501875.0,583848.0,ACHC,86.029999,50.070000,0.568
73,35.990002,36.000000,35.130001,35.380001,9200.0,2022-08-26,35.863000,35.332000,33.143200,33.062954,32.274515,18325.0,48364.0,ACNB,36.730000,26.481257,0.306
80,18.250000,18.250000,16.180000,16.459999,339000.0,2022-08-26,16.816000,16.565000,15.829200,14.607200,14.274800,368290.0,364250.0,ACRS,19.969999,9.260000,0.517
83,26.549999,26.559999,25.990000,26.160000,94900.0,2022-08-26,26.478625,25.990076,23.377848,22.567192,22.154649,179345.0,294050.0,ACT,27.531583,18.011928,0.327
92,78.139999,78.230003,76.970001,77.050003,431700.0,2022-08-26,78.849001,78.236501,75.512130,68.990540,68.511157,518055.0,668750.0,ADC,80.440002,60.404477,0.238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6003,69.199997,69.809998,67.620003,67.620003,272500.0,2022-08-26,70.349000,70.948500,66.836000,61.689563,58.844995,492340.0,718350.0,WWE,75.230003,46.722569,0.400
6014,76.250000,76.349998,74.910004,74.930000,2413300.0,2022-08-26,76.253001,75.312000,71.580600,70.984302,69.627163,2106480.0,2807324.0,XEL,77.529999,59.891003,0.210
6017,37.830002,38.220001,36.580002,36.970001,242300.0,2022-08-26,37.730000,37.199000,34.228000,31.393867,30.794500,521215.0,549888.0,XENE,41.389999,14.654000,1.229
6030,98.769997,99.910004,97.419998,97.870003,15516900.0,2022-08-26,95.199000,92.919598,89.316351,85.737319,79.853753,18301930.0,22924614.0,XOM,104.554122,50.668364,0.874
6053,841.780029,841.799988,841.080017,841.210022,34800.0,2022-08-26,841.170001,839.292999,836.164200,792.795733,762.477551,47595.0,83626.0,Y,862.869995,585.099976,0.337

In [9]:
ticker_list_con2 = df_con2.symbol.to_list()
ticker_list_con2

['ACHC',
 'ACNB',
 'ACRS',
 'ACT',
 'ADC',
 'AEP',
 'AJG',
 'AMAL',
 'AMR',
 'AORT',
 'APLS',
 'AR',
 'ARCH',
 'ARGX',
 'ARKR',
 'ARLP',
 'ARQT',
 'ARTNA',
 'ASAI',
 'ATGE',
 'ATI',
 'ATNI',
 'ATO',
 'AVAV',
 'AVT',
 'AXNX',
 'AXSM',
 'AZN',
 'AZPN',
 'BAH',
 'BANF',
 'BBSI',
 'BCBP',
 'BCOR',
 'BELFA',
 'BEPC',
 'BHVN',
 'BKH',
 'BRT',
 'BSM',
 'BTU',
 'CAH',
 'CALM',
 'CAPL',
 'CASY',
 'CBT',
 'CBZ',
 'CCBG',
 'CDR',
 'CEIX',
 'CF',
 'CHK',
 'CHNG',
 'CHRW',
 'CI',
 'CIX',
 'CLFD',
 'CLR',
 'CMT',
 'CMTG',
 'CNC',
 'CNP',
 'CORT',
 'CPB',
 'CPRX',
 'CRK',
 'CRT',
 'CSL',
 'CTO',
 'CTRA',
 'CTS',
 'CTVA',
 'CVBF',
 'CVEO',
 'CVET',
 'CVI',
 'CWCO',
 'CYTK',
 'DINO',
 'DK',
 'DKL',
 'DMLP',
 'DNOW',
 'DOX',
 'DTE',
 'DY',
 'EBF',
 'ED',
 'EPD',
 'EQNR',
 'EQT',
 'ERF',
 'ESQ',
 'ET',
 'ETR',
 'EURN',
 'EVH',
 'EVOP',
 'EXLS',
 'FAZE',
 'FCFS',
 'FDUS',
 'FHN',
 'FICO',
 'FLNG',
 'FPI',
 'FWONA',
 'GBT',
 'GCBC',
 'GCP',
 'GEF',
 'GIS',
 'GLNG',
 'GPC',
 'GPK',
 'GPOR',
 'GTLS',
 'HAE',
 'HEI',
 'HES',
 'HFWA',
 'HHS',
 'HII',
 'HOLI',
 'HP',
 'HRB',
 'HSY',
 'HUM',
 'HURN',
 'HWM',
 'HXL',
 'IBA',
 'IEA',
 'IMCR',
 'IMXI',
 'INSW',
 'IONS',
 'IRTC',
 'JAKK',
 'JAZZ',
 'JKHY',
 'JMSB',
 'K',
 'KBR',
 'KDNY',
 'KEQU',
 'KNSL',
 'KNTK',
 'KOF',
 'KRTX',
 'LGL',
 'LHCG',
 'LNG',
 'LNTH',
 'LPG',
 'LPLA',
 'LTC',
 'LW',
 'MANT',
 'MAYS',
 'MCK',
 'MERC',
 'MGPI',
 'MIRM',
 'MMP',
 'MN',
 'MNDT',
 'MNRL',
 'MNTK',
 'MPC',
 'MRTN',
 'MSB',
 'MTDR',
 'MUSA',
 'NBIX',
 'NBN',
 'NC',
 'NECB',
 'NEN',
 'NFE',
 'NFG',
 'NHI',
 'NJR',
 'NLSN',
 'NOC',
 'NOG',
 'NXST',
 'OFG',
 'OGE',
 'OHI',
 'OPCH',
 'ORA',
 'OXY',
 'PAA',
 'PAC',
 'PAG',
 'PAM',
 'PARR',
 'PBF',
 'PBFX',
 'PBR',
 'PBT',
 'PCVX',
 'PFGC',
 'PFHD',
 'PGR',
 'PLAB',
 'PNRG',
 'PNW',
 'POLY',
 'POST',
 'PRCT',
 'PRVA',
 'PSN',
 'PTCT',
 'PWR',
 'RBCN',
 'RELL',
 'RFP',
 'RGA',
 'RGP',
 'RLMD',
 'RNDB',
 'RPRX',
 'RRC',
 'RTLR',
 'RXDX',
 'RYAN',
 'SAIL',
 'SANM',
 'SBOW',
 'SBR',
 'SBRA',
 'SCHL',
 'SGFY',
 'SGML',
 'SHLX',
 'SIRE',
 'SJT',
 'SLP',
 'SMCI',
 'SMMF',
 'SNEX',
 'SO',
 'SON',
 'SP',
 'SPH',
 'SPLP',
 'SPTN',
 'SQM',
 'SRE',
 'SRLP',
 'SRTS',
 'SSBK',
 'STNG',
 'STR',
 'SWAV',
 'SWCH',
 'SWIR',
 'TALO',
 'TCBK',
 'TCDA',
 'TCI',
 'TDW',
 'TEN',
 'TH',
 'THFF',
 'TMDX',
 'TMUS',
 'TNK',
 'TNP',
 'TPL',
 'TPTX',
 'TR',
 'TRMD',
 'TWNK',
 'TYG',
 'UFPT',
 'ULH',
 'UNH',
 'UNM',
 'USAC',
 'USAK',
 'VALU',
 'VET',
 'VICI',
 'VIVO',
 'VLO',
 'VRRM',
 'VST',
 'VTRU',
 'WDS',
 'WES',
 'WMK',
 'WTM',
 'WWE',
 'XEL',
 'XENE',
 'XOM',
 'Y']

In [12]:
ticker_df = df_con2[['symbol']]
ticker_df.index = range(len(df_con2))
ticker_df.to_csv('selected_ticker_list_08_28.csv',index=None)