将 yfinance 导入为 yf

msft = yf.Ticker("MSFT")

# 获取股票信息
微软信息

# 获取历史市场数据
hist = msft.history(period="max")

# 显示操作（股息、拆分）
msft.actions

# 显示股息
msft.dividend

# 显示分割
msft.splits

# 显示财务
msft.financials
msft.quarterly_financials

# 显示主要持有者
msft.major_holders

# 显示机构持有人
msft.institutional_holders

# 显示资产负债表
msft.balance_sheet
msft.quarterly_balance_sheet

# 显示现金流
msft.cashflow
msft.quarterly_cashflow

# 显示收入
msft.earnings
msft. Quarterly_earnings

# 展示可持续性
msft.可持续性

# 显示分析师的建议
msft.recommendations

# 显示下一个事件（收益等）
msft.日历

# 显示所有收入日期
msft.earnings_dates

# 显示 ISIN 代码 - *实验性*
# ISIN = 国际证券识别号
msft.isin

# 显示期权到期
msft.options

# 显示新闻
微软新闻

# 获取特定到期的期权链
opt = msft.option_chain('YYYY-MM-DD')
# 数据可通过：opt.calls、opt.puts

In [2]:
import yfinance as yf
msft = yf.Ticker('MSFT')

In [10]:
msft

yfinance.Ticker object <MSFT>

In [11]:
hist = msft.history(period="max")

In [12]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055654,0.063838,0.055654,0.061109,1031788800,0.0,0.0
1986-03-14,0.061109,0.064384,0.061109,0.063292,308160000,0.0,0.0
1986-03-17,0.063292,0.064929,0.063292,0.064384,133171200,0.0,0.0
1986-03-18,0.064384,0.064929,0.062201,0.062746,67766400,0.0,0.0
1986-03-19,0.062746,0.063292,0.061109,0.061655,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-08-05,279.149994,283.649994,278.679993,282.910004,16767900,0.0,0.0
2022-08-08,284.049988,285.920013,279.320007,280.320007,18739200,0.0,0.0
2022-08-09,279.640015,283.079987,277.609985,282.299988,23405200,0.0,0.0
2022-08-10,288.170013,289.809998,286.940002,289.160004,24687800,0.0,0.0
2022-08-11,290.850006,291.209991,286.510010,287.019989,20047800,0.0,0.0

In [14]:
msft_fiancial_df = msft.financials

In [15]:
msft_fiancial_df

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Research Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Minority Interest,None,None,None,None
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Selling General Administrative,27725000000.0,25224000000.0,24709000000.0,23098000000.0
Gross Profit,135620000000.0,115856000000.0,96937000000.0,82933000000.0
Ebit,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Operating Income,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2047000000.0,-2330000000.0,-2591000000.0,-2686000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,10978000000.0,9831000000.0,8755000000.0,4448000000.0
Total Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Total Operating Expenses,114887000000.0,98172000000.0,90056000000.0,82884000000.0
Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Total Other Income Expense Net,333000000.0,1186000000.0,77000000.0,729000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Applicable To Common Shares,72738000000.0,61271000000.0,44281000000.0,39240000000.0

In [16]:
msft_quarterly_financials_df = msft.quarterly_financials

In [17]:
msft_quarterly_financials_df.index.values

array(['Research Development', 'Effect Of Accounting Charges',
       'Income Before Tax', 'Minority Interest', 'Net Income',
       'Selling General Administrative', 'Gross Profit', 'Ebit',
       'Operating Income', 'Other Operating Expenses', 'Interest Expense',
       'Extraordinary Items', 'Non Recurring', 'Other Items',
       'Income Tax Expense', 'Total Revenue', 'Total Operating Expenses',
       'Cost Of Revenue', 'Total Other Income Expense Net',
       'Discontinued Operations', 'Net Income From Continuing Ops',
       'Net Income Applicable To Common Shares'], dtype=object)

array(['研究开发', '会计费用的影响',
        “税前收入”、“少数股权”、“净收入”、
        '销售一般行政'、'毛利'、'息税前利润'、
        “营业收入”、“其他营业费用”、“利息费用”、
        '非常项目'，'非经常性'，'其他项目'，
        “所得税费用”、“总收入”、“总营业费用”、
        “收入成本”、“其他收入总支出净额”、
        '停止运营'，'来自持续运营的净收入'，
        '适用于普通股的净收入'], dtype=object)

每股收益即每股盈利（EPS），又称每股税后利润、每股盈余，指税后利润与股本总数的比率。

In [ ]:
import pandas as pd
msft_fiancial_df.to_csv('msft_finacial.csv')
msft_quarterly_financials_df.to_csv('msft_quarterly_finacial.csv')

In [ ]:
# 显示收入
msft_earnings_df = msft.earnings
msft_quarterly_earnings_df = msft.quarterly_earnings

In [ ]:
msft_earnings_df['yield'] = msft_earnings_df.Earnings / msft_earnings_df.Revenue

In [ ]:
msft_earnings_df

           Revenue     Earnings     yield
Year
2019  125843000000  39240000000  0.311817
2020  143015000000  44281000000  0.309625
2021  168088000000  61271000000  0.364517
2022  198270000000  72738000000  0.366863

In [ ]:
msft_quarterly_earnings_df['yield'] = msft_quarterly_earnings_df.Earnings / msft_quarterly_earnings_df.Revenue

In [ ]:
msft_quarterly_earnings_df

             Revenue     Earnings     yield
Quarter
3Q2021   45317000000  20505000000  0.452479
4Q2021   51728000000  18765000000  0.362763
1Q2022   49360000000  16728000000  0.338898
2Q2022   51865000000  16740000000  0.322761

In [ ]:
# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.49418998,
 'profitMargins': 0.36686,
 'grossMargins': 0.68402,
 'operatingCashflow': 89034997760,
 'revenueGrowth': 0.124,
 'operatingMargins': 0.42055,
 'ebitda': 97982996480,
 'targetLowPrice': 275,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 49479000064,
 'targetMedianPrice': 330,
 'currentPrice': 289.16,
 'earningsGrowth': 0.031,
 'currentRatio': 1.785,
 'returnOnAssets': 0.14919,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 336.06,
 'debtToEquity': 47.075,
 'returnOnEquity': 0.47151002,
 'targetHighPrice': 411,
 'totalCash': 104748998656,
 'totalDebt': 78399995904,
 'totalRevenue': 198269992960,
 'totalCashPerShare': 14.045,
 'financialCurrency': 'USD',
 'revenuePerShare': 26.45,
 'quickRatio': 1.567,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.411,
 'beta3Year': None,
 'enterpriseToEbitda': 21.067,
 '52WeekChange': -0.0022428632,
 'morningStarRiskRating': None,
 'forwardEps': 12.11,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7457889792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 22.313,
 'sharesShort': 38999356,
 'sharesPercentSharesOut': 0.0052,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.72083,
 'netIncomeToCommon': 72737996800,
 'trailingEps': 9.65,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.05617565,
 'priceToBook': 12.959262,
 'heldPercentInsiders': 0.00075,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1656547200,
 'shortRatio': 1.42,
 'sharesShortPreviousMonthDate': 1655251200,
 'floatShares': 7450881454,
 'beta': 0.927206,
 'enterpriseValue': 2064247291904,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1652832000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.017,
 'priceToSalesTrailing12Months': 10.876701,
 'dateShortInterest': 1657843200,
 'pegRatio': 1.77,
 'ytdReturn': None,
 'forwardPE': 23.877789,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0052,
 'sharesShortPriorMonth': 48150433,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 282.3,
 'regularMarketOpen': 288.17,
 'twoHundredDayAverage': 294.75146,
 'trailingAnnualDividendYield': 0.0087849805,
 'payoutRatio': 0.2508,
 'volume24Hr': None,
 'regularMarketDayHigh': 289.81,
 'navPrice': None,
 'averageDailyVolume10Day': 23507730,
 'regularMarketPreviousClose': 282.3,
 'fiftyDayAverage': 264.3852,
 'trailingAnnualDividendRate': 2.48,
 'open': 288.17,
 'toCurrency': None,
 'averageVolume10days': 23507730,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1660694400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 286.97,
 'currency': 'USD',
 'trailingPE': 29.964767,
 'regularMarketVolume': 24687845,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2156523421696,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28335859,
 'dayLow': 286.97,
 'ask': 0,
 'askSize': 1200,
 'volume': 24687845,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.23,
 'fiftyTwoWeekLow': 241.51,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0088,
 'bidSize': 1800,
 'dayHigh': 289.81,
 'coinMarketCapLink': None,
 'regularMarketPrice': 289.16,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.1028}

In [ ]:
# 显示资产负债表
msft_balance_df = msft.balance_sheet
msft_quarterly_balance_df = msft.quarterly_balance_sheet

# 显示现金流
msft_cashflow_df = msft.cashflow
msft_quarterly_cashflow_df = msft.quarterly_cashflow

In [ ]:
msft_balance_df.dtypes

2022-06-30    float64
2021-06-30    float64
2020-06-30    float64
2019-06-30    float64
dtype: object

In [ ]:
msft_balance_df['2022-06-30'] = msft_balance_df['2022-06-30'].astype(int)
msft_balance_df

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Intangible Assets,11298000000,7.800000e+09,7.038000e+09,7.750000e+09
Total Liab,198298000000,1.917910e+11,1.830070e+11,1.842260e+11
Total Stockholder Equity,166542000000,1.419880e+11,1.183040e+11,1.023300e+11
Other Current Liab,59384000000,5.261200e+10,4.600100e+10,4.586000e+10
Total Assets,364840000000,3.337790e+11,3.013110e+11,2.865560e+11
Common Stock,86939000000,8.311100e+10,8.055200e+10,7.852000e+10
Other Current Assets,16932000000,1.347100e+10,1.151700e+10,1.013300e+10
Retained Earnings,84281000000,5.705500e+10,3.456600e+10,2.415000e+10
Other Liab,30853000000,3.168100e+10,3.449200e+10,3.569900e+10
Good Will,67524000000,4.971100e+10,4.335100e+10,4.202600e+10
Gains Losses Not Affecting Retained Earnings,-4678000000,1.822000e+09,3.186000e+09,-3.400000e+08
Other Assets,21897000000,1.507500e+10,1.313800e+10,1.472300e+10
Cash,13931000000,1.422400e+10,1.357600e+10,1.135600e+10
Total Current Liabilities,95082000000,8.865700e+10,7.231000e+10,6.942000e+10
Deferred Long Term Asset Charges,13515000000,7.181000e+09,6.405000e+09,7.536000e+09
Short Long Term Debt,2749000000,8.072000e+09,3.749000e+09,5.516000e+09
Other Stockholder Equity,-4678000000,1.822000e+09,3.186000e+09,-3.400000e+08
Property Plant Equipment,87546000000,7.080300e+10,5.290400e+10,4.385600e+10
Total Current Assets,169684000000,1.844060e+11,1.819150e+11,1.755520e+11
Long Term Investments,6891000000,5.984000e+09,2.965000e+09,2.649000e+09
Net Tangible Assets,87720000000,8.447700e+10,6.791500e+10,5.255400e+10
Short Term Investments,90818000000,1.160320e+11,1.229160e+11,1.224760e+11
Net Receivables,44261000000,3.804300e+10,3.201100e+10,2.952400e+10
Long Term Debt,47032000000,5.007400e+10,5.957800e+10,6.666200e+10
Inventory,3742000000,2.636000e+09,1.895000e+09,2.063000e+09
Accounts Payable,19000000000,1.516300e+10,1.253000e+10,9.382000e+09

In [ ]:
msft_cashflow_df

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Investments,1.843800e+10,2.876000e+09,6.980000e+09,5.400000e+08
Change To Liabilities,8.052000e+09,7.431000e+09,5.230000e+09,4.694000e+09
Total Cashflows From Investing Activities,-3.031100e+10,-2.757700e+10,-1.222300e+10,-1.577300e+10
Net Borrowings,-9.023000e+09,-3.750000e+09,-5.518000e+09,-4.000000e+09
Total Cash From Financing Activities,-5.887600e+10,-4.848600e+10,-4.603100e+10,-3.688700e+10
Change To Operating Activities,-3.450000e+08,1.160000e+09,-6.730000e+08,-1.542000e+09
Issuance Of Stock,1.841000e+09,1.693000e+09,1.343000e+09,1.142000e+09
Net Income,7.273800e+10,6.127100e+10,4.428100e+10,3.924000e+10
Change In Cash,-2.930000e+08,6.480000e+08,2.220000e+09,-5.900000e+08
Repurchase Of Stock,-3.269600e+10,-2.738500e+10,-2.296800e+10,-1.954300e+10
Effect Of Exchange Rate,-1.410000e+08,-2.900000e+07,-2.010000e+08,-1.150000e+08
Total Cash From Operating Activities,8.903500e+10,7.674000e+10,6.067500e+10,5.218500e+10
Depreciation,1.460000e+10,1.090000e+10,1.230000e+10,1.160000e+10
Other Cashflows From Investing Activities,-2.825000e+09,-9.220000e+08,-1.241000e+09,-1.241000e+09
Dividends Paid,-1.813500e+10,-1.652100e+10,-1.513700e+10,-1.381100e+10
Change To Inventory,-1.123000e+09,-7.370000e+08,1.680000e+08,5.970000e+08
Change To Account Receivables,-6.834000e+09,-6.481000e+09,-2.577000e+09,-2.812000e+09
Other Cashflows From Financing Activities,-8.630000e+08,-2.523000e+09,-3.751000e+09,-6.750000e+08
Change To Netincome,1.251000e+09,5.505000e+09,5.577000e+09,-2.521000e+09
Capital Expenditures,-2.388600e+10,-2.062200e+10,-1.544100e+10,-1.392500e+10

In [ ]:
# 利润增长率
msft.info['earningsGrowth']
# 季度利润增长
msft.info['earningsQuarterlyGrowth']
# 季度收入增长
msft.info['revenueQuarterlyGrowth']
# 历史市盈率
## 历史市盈率就是一家公司在市场上的股价相对于其过去一年的每股收益,
## 具体计算方法是将当前市值或股价除以过去一年的每股收益
msft.info['trailingPE']
# 
msft.info['trailingPegRatio']
# 已发行股票
msft.info['sharesOutstanding']
# 流通股数
msft.info['floatShares']

(0.031, 0.017)

In [ ]:
{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.49418998,
 'profitMargins': 0.36686,
 'grossMargins': 0.68402,
 'operatingCashflow': 89034997760,
 'revenueGrowth': 0.124,
 'operatingMargins': 0.42055,
 'ebitda': 97982996480,
 'targetLowPrice': 275,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 49479000064,
 'targetMedianPrice': 330,
 'currentPrice': 289.16,
 'earningsGrowth': 0.031,
 'currentRatio': 1.785,
 # 资产回报率
 'returnOnAssets': 0.14919,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 336.06,
 'debtToEquity': 47.075,
 # 股本回报率
 # *更加重要
 'returnOnEquity': 0.47151002,
 # 
 'targetHighPrice': 411,
 'totalCash': 104748998656,
 'totalDebt': 78399995904,
 'totalRevenue': 198269992960,
 'totalCashPerShare': 14.045,
 'financialCurrency': 'USD',
 # 每股收益
 'revenuePerShare': 26.45,
 'quickRatio': 1.567,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.411,
 'beta3Year': None,
 'enterpriseToEbitda': 21.067,
 '52WeekChange': -0.0022428632,
 'morningStarRiskRating': None,
 'forwardEps': 12.11,
 # 季度收入增长
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7457889792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 # 总资产
 'totalAssets': None,
 'bookValue': 22.313,
 'sharesShort': 38999356,
 'sharesPercentSharesOut': 0.0052,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.72083,
 'netIncomeToCommon': 72737996800,
 # 历史美股收益（12月）
 # Trailing price-to-earnings (P/E) is a relative valuation 
 # multiple that is based on the last 12 months of actual 
 # earnings. It is calculated by taking the current stock price 
 # and dividing it by the trailing earnings per share (EPS) 
 # for the past 12 months.
 
 # 追踪市盈率 (P/E) 是基于过去12个月实际收益的相对估值倍数，
 # 它的计算方法是将当前股价除以过去12个月的每股盈余 (EPS)。
 'trailingEps': 9.65,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.05617565,
 'priceToBook': 12.959262,
 'heldPercentInsiders': 0.00075,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1656547200,
 'shortRatio': 1.42,
 'sharesShortPreviousMonthDate': 1655251200,
 # 股票流通数
 'floatShares': 7450881454,
 'beta': 0.927206,
 'enterpriseValue': 2064247291904,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1652832000,
 'morningStarOverallRating': None,
 # 季度收益增长率
 'earningsQuarterlyGrowth': 0.017,
 'priceToSalesTrailing12Months': 10.876701,
 'dateShortInterest': 1657843200,
 # 
 'pegRatio': 1.77,
 # 
 'ytdReturn': None,
 'forwardPE': 23.877789,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0052,
 'sharesShortPriorMonth': 48150433,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 282.3,
 'regularMarketOpen': 288.17,
 'twoHundredDayAverage': 294.75146,
 'trailingAnnualDividendYield': 0.0087849805,
 'payoutRatio': 0.2508,
 'volume24Hr': None,
 'regularMarketDayHigh': 289.81,
 'navPrice': None,
 'averageDailyVolume10Day': 23507730,
 'regularMarketPreviousClose': 282.3,
 'fiftyDayAverage': 264.3852,
 'trailingAnnualDividendRate': 2.48,
 'open': 288.17,
 'toCurrency': None,
 'averageVolume10days': 23507730,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1660694400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 286.97,
 'currency': 'USD',
 # 历史市盈率
 'trailingPE': 29.964767,
 'regularMarketVolume': 24687845,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2156523421696,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28335859,
 'dayLow': 286.97,
 'ask': 0,
 'askSize': 1200,
 'volume': 24687845,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.23,
 'fiftyTwoWeekLow': 241.51,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0088,
 'bidSize': 1800,
 'dayHigh': 289.81,
 'coinMarketCapLink': None,
 'regularMarketPrice': 289.16,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.1028}

In [128]:
# 当季每股净收益
# 每股净收益 = （税后净收益 - 优先股股息）/ 发行在外普通股股数

# 税后净收益
# revenue:收入
# earnins:净收入
net_earnings = msft.quarterly_earnings
# 显示股息(每股)
dividends = msft.dividends
# 发行在外的股数
nums_of_shares = msft.info['sharesOutstanding']

# 计算eps
net_earnings['eps'] = net_earnings.Earnings.astype(float) / nums_of_shares
#

In [131]:
net_earnings

             Revenue     Earnings       eps   STfwdEPS
Quarter
3Q2021   45317000000  20505000000  2.749437   0.000000
4Q2021   51728000000  18765000000  2.516127  -8.485735
1Q2022   49360000000  16728000000  2.242994 -10.855316
2Q2022   51865000000  16740000000  2.244603   0.071736

In [132]:
# 4季度平均每股收益
net_earnings['eps'].mean()

2.438290254638292

In [141]:
# 当季每股收益和当年最高差值
max_eps = net_earnings.eps.max()
max_eps
currect_eps_diff = net_earnings.tail(1)['eps'].values[0] - max_eps
currect_eps_diff

-0.5048344913917444

In [142]:
net_earnings_annually = msft.earnings
net_earnings_annually

           Revenue     Earnings
Year
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000
2022  198270000000  72738000000

In [146]:
net_earnings_annually['eps'] = net_earnings_annually.Earnings / nums_of_shares
net_earnings_annually

           Revenue     Earnings       eps
Year
2019  125843000000  39240000000  5.261542
2020  143015000000  44281000000  5.937470
2021  168088000000  61271000000  8.215595
2022  198270000000  72738000000  9.753161

In [150]:
net_earnings_annually

           Revenue     Earnings       eps   STfwdEPS
Year
2019  125843000000  39240000000  5.261542   0.000000
2020  143015000000  44281000000  5.937470  12.846585
2021  168088000000  61271000000  8.215595  38.368601
2022  198270000000  72738000000  9.753161  18.715216

In [149]:
net_earnings_annually['STfwdEPS'] = (net_earnings_annually.eps.diff().fillna(0) / net_earnings_annually.eps.shift(1).fillna(1)*100)
net_earnings_annually[1:].STfwdEPS.mean()

23.310133884414522

In [127]:
net_earnings['STfwdEPS'] = (net_earnings.eps.diff().fillna(0) / net_earnings.eps.shift(1).fillna(1)*100)
net_earnings[1:].STfwdEPS.mean()

-6.423104974154732

In [126]:
test = net_earnings[1:]
test[test.STfwdEPS > 0].eps.count()

1

In [42]:
annual_net_earings = msft.earnings
annual_net_earings

           Revenue     Earnings
Year
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000
2022  198270000000  72738000000

In [143]:
aapl = yf.Ticker('aapl')

In [145]:
aapl.quarterly_earnings

              Revenue     Earnings
Quarter
3Q2021    83360000000  20551000000
4Q2021   123945000000  34630000000
1Q2022    97278000000  25010000000
2Q2022    82959000000  19442000000

In [43]:
annual_net_earings['yield'] = annual_net_earings.Earnings / annual_net_earings.Revenue

In [46]:
annual_net_earings

           Revenue     Earnings     yield
Year
2019  125843000000  39240000000  0.311817
2020  143015000000  44281000000  0.309625
2021  168088000000  61271000000  0.364517
2022  198270000000  72738000000  0.366863

In [84]:
annual_net_earings['increase_rate'] = round(annual_net_earings['yield'].diff().fillna(0) / annual_net_earings['yield'].shift(1).fillna(1),4)

In [52]:
annual_net_earings['eps'] = annual_net_earings.Earnings / nums_of_shares

In [82]:
annual_net_earings['increase_rate_2'] = round(annual_net_earings['eps'].diff().fillna(0) / annual_net_earings['eps'].shift(1).fillna(1),4 )

In [85]:
annual_net_earings

,Revenue,Earnings,yield,increase_rate,eps,increase_rate_2
Year,,,,,,
2019,125843000000,39240000000,0.311817,0.0000,5.261542,0.0000
2020,143015000000,44281000000,0.309625,-0.0070,5.937470,0.1285
2021,168088000000,61271000000,0.364517,0.1773,8.215595,0.3837
2022,198270000000,72738000000,0.366863,0.0064,9.753161,0.1872

In [76]:
annual_net_earings.iloc[-1].eps

9.753161018553168

In [86]:
# 显示财务
msft.financials

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Research Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Minority Interest,None,None,None,None
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Selling General Administrative,27725000000.0,25224000000.0,24709000000.0,23098000000.0
Gross Profit,135620000000.0,115856000000.0,96937000000.0,82933000000.0
Ebit,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Operating Income,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2047000000.0,-2330000000.0,-2591000000.0,-2686000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,10978000000.0,9831000000.0,8755000000.0,4448000000.0
Total Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Total Operating Expenses,114887000000.0,98172000000.0,90056000000.0,82884000000.0
Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Total Other Income Expense Net,333000000.0,1186000000.0,77000000.0,729000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Applicable To Common Shares,72738000000.0,61271000000.0,44281000000.0,39240000000.0

In [ ]:
msft.quarterly_financials

In [87]:
# 显示现金流
msft.cashflow

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Investments,1.843800e+10,2.876000e+09,6.980000e+09,5.400000e+08
Change To Liabilities,8.052000e+09,7.431000e+09,5.230000e+09,4.694000e+09
Total Cashflows From Investing Activities,-3.031100e+10,-2.757700e+10,-1.222300e+10,-1.577300e+10
Net Borrowings,-9.023000e+09,-3.750000e+09,-5.518000e+09,-4.000000e+09
Total Cash From Financing Activities,-5.887600e+10,-4.848600e+10,-4.603100e+10,-3.688700e+10
Change To Operating Activities,-3.450000e+08,1.160000e+09,-6.730000e+08,-1.542000e+09
Issuance Of Stock,1.841000e+09,1.693000e+09,1.343000e+09,1.142000e+09
Net Income,7.273800e+10,6.127100e+10,4.428100e+10,3.924000e+10
Change In Cash,-2.930000e+08,6.480000e+08,2.220000e+09,-5.900000e+08
Repurchase Of Stock,-3.269600e+10,-2.738500e+10,-2.296800e+10,-1.954300e+10
Effect Of Exchange Rate,-1.410000e+08,-2.900000e+07,-2.010000e+08,-1.150000e+08
Total Cash From Operating Activities,8.903500e+10,7.674000e+10,6.067500e+10,5.218500e+10
Depreciation,1.460000e+10,1.090000e+10,1.230000e+10,1.160000e+10
Other Cashflows From Investing Activities,-2.825000e+09,-9.220000e+08,-1.241000e+09,-1.241000e+09
Dividends Paid,-1.813500e+10,-1.652100e+10,-1.513700e+10,-1.381100e+10
Change To Inventory,-1.123000e+09,-7.370000e+08,1.680000e+08,5.970000e+08
Change To Account Receivables,-6.834000e+09,-6.481000e+09,-2.577000e+09,-2.812000e+09
Other Cashflows From Financing Activities,-8.630000e+08,-2.523000e+09,-3.751000e+09,-6.750000e+08
Change To Netincome,1.251000e+09,5.505000e+09,5.577000e+09,-2.521000e+09
Capital Expenditures,-2.388600e+10,-2.062200e+10,-1.544100e+10,-1.392500e+10

In [ ]:
msft.quarterly_cashflow

In [93]:
msft.balance_sheet

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Intangible Assets,1.129800e+10,7.800000e+09,7.038000e+09,7.750000e+09
Total Liab,1.982980e+11,1.917910e+11,1.830070e+11,1.842260e+11
Total Stockholder Equity,1.665420e+11,1.419880e+11,1.183040e+11,1.023300e+11
Other Current Liab,5.938400e+10,5.261200e+10,4.600100e+10,4.586000e+10
Total Assets,3.648400e+11,3.337790e+11,3.013110e+11,2.865560e+11
Common Stock,8.693900e+10,8.311100e+10,8.055200e+10,7.852000e+10
Other Current Assets,1.693200e+10,1.347100e+10,1.151700e+10,1.013300e+10
Retained Earnings,8.428100e+10,5.705500e+10,3.456600e+10,2.415000e+10
Other Liab,3.085300e+10,3.168100e+10,3.449200e+10,3.569900e+10
Good Will,6.752400e+10,4.971100e+10,4.335100e+10,4.202600e+10
Gains Losses Not Affecting Retained Earnings,-4.678000e+09,1.822000e+09,3.186000e+09,-3.400000e+08
Other Assets,2.189700e+10,1.507500e+10,1.313800e+10,1.472300e+10
Cash,1.393100e+10,1.422400e+10,1.357600e+10,1.135600e+10
Total Current Liabilities,9.508200e+10,8.865700e+10,7.231000e+10,6.942000e+10
Deferred Long Term Asset Charges,1.351500e+10,7.181000e+09,6.405000e+09,7.536000e+09
Short Long Term Debt,2.749000e+09,8.072000e+09,3.749000e+09,5.516000e+09
Other Stockholder Equity,-4.678000e+09,1.822000e+09,3.186000e+09,-3.400000e+08
Property Plant Equipment,8.754600e+10,7.080300e+10,5.290400e+10,4.385600e+10
Total Current Assets,1.696840e+11,1.844060e+11,1.819150e+11,1.755520e+11
Long Term Investments,6.891000e+09,5.984000e+09,2.965000e+09,2.649000e+09
Net Tangible Assets,8.772000e+10,8.447700e+10,6.791500e+10,5.255400e+10
Short Term Investments,9.081800e+10,1.160320e+11,1.229160e+11,1.224760e+11
Net Receivables,4.426100e+10,3.804300e+10,3.201100e+10,2.952400e+10
Long Term Debt,4.703200e+10,5.007400e+10,5.957800e+10,6.666200e+10
Inventory,3.742000e+09,2.636000e+09,1.895000e+09,2.063000e+09
Accounts Payable,1.900000e+10,1.516300e+10,1.253000e+10,9.382000e+09

In [3]:
balance_sheet = msft.balance_sheet.T[['Total Assets','Short Long Term Debt','Long Term Debt']]

In [4]:
# balance_sheet.values = balance_sheet.values.astype(int)
balance_sheet = balance_sheet.astype(float)
balance_sheet['Total Debt'] = balance_sheet['Short Long Term Debt'] + balance_sheet['Long Term Debt']

In [5]:
balance_sheet

            Total Assets  Short Long Term Debt  Long Term Debt    Total Debt

2022-06-30  3.648400e+11          2.749000e+09    4.703200e+10  4.978100e+10
2021-06-30  3.337790e+11          8.072000e+09    5.007400e+10  5.814600e+10
2020-06-30  3.013110e+11          3.749000e+09    5.957800e+10  6.332700e+10
2019-06-30  2.865560e+11          5.516000e+09    6.666200e+10  7.217800e+10

In [7]:
balance_sheet['Debt Ratio'] = round(balance_sheet['Total Debt'] / balance_sheet['Total Assets'] , 4)

In [12]:
balance_sheet[:3]['Debt Ratio'].is_monotonic_increasing

True

In [10]:
balance_sheet['Debt Ratio'].is_monotonic_increasing

True