In [1]:
import backtrader as bt
import pandas as pd
import numpy as np
# from get_score import get_score_ch
from sqlalchemy import create_engine
import talib as ta
import datetime
import pandas as pd

In [2]:
engine= create_engine('sqlite:///../../dataset/us/us_ticker_price_yf.db')

In [3]:
df = pd.read_sql('INTC', engine)
df.rename(columns={'hgih':'high'},inplace=True)
# df['chg_pct'] = ((df.close - df.open)/df.open)*100
df['close'] = df['close'].apply(lambda x: round(x,3))
df

,open,high,low,close,Adj Close,volume,datetime
0,0.325521,0.330729,0.325521,0.326,0.192692,10924800,1980-03-17
1,0.325521,0.328125,0.322917,0.323,0.191150,17068800,1980-03-18
2,0.330729,0.335938,0.330729,0.331,0.195774,18508800,1980-03-19
3,0.330729,0.334635,0.329427,0.329,0.195004,11174400,1980-03-20
4,0.322917,0.322917,0.317708,0.318,0.188067,12172800,1980-03-21
...,...,...,...,...,...,...,...
10668,37.660000,38.139999,37.389999,37.990,37.990002,22554800,2022-07-08
10669,37.660000,37.669998,37.029999,37.200,37.200001,25904300,2022-07-11
10670,37.650002,37.700001,36.990002,37.210,37.209999,30546300,2022-07-12
10671,36.680000,37.430000,36.619999,37.210,37.209999,27059200,2022-07-13
10672,36.990002,38.160000,36.290001,37.710,37.709999,36676700,2022-07-14

In [18]:
# make sure target date
target_date = '2019-10-10'
target_index = df[df.datetime == target_date].index.values[0] + 1
start_index = target_index - 90
window = df[start_index : target_index]
window.index = range(len(window))
price_max = window.high.max()
index_max = window[window.high == price_max].index.values[0]

In [19]:
index_max, price_max

(36, 53.5)

In [21]:
price_min = window[index_max:].low.min()
index_min = window[window.low == price_min].index.values[0]

In [22]:
index_min, price_min

(56, 44.79999923706055)

In [23]:
if (price_max - price_min) / price_max < 0.3:
    print('fine')

fine