In [1]:
import backtrader as bt
import pandas as pd
import numpy as np
# from get_score import get_score_ch
from sqlalchemy import create_engine
import talib as ta
import datetime
import pandas as pd
engine= create_engine('sqlite:///../../dataset/us/us_ticker_seven_year_price.db')
ticker_name = 'NVDA'
df = pd.read_sql('{}'.format(ticker_name), engine)
df.rename(columns={'hgih':'high'},inplace=True)
# # df['chg_pct'] = ((df.Close - df.open)/df.open)*100
df['Close'] = df['Close'].apply(lambda x: round(x,3))
df['Volume'] = df['Volume'].apply(lambda x: round(x,3))
df['VMA20'] = ta.SMA(df.Volume, timeperiod=20)
df

,Open,High,Low,Close,Volume,datetime,VMA20
0,5.485806,5.512577,5.410357,5.420,26255600.0,2015-09-03,NaN
1,5.327606,5.412790,5.291099,5.294,28797200.0,2015-09-04,NaN
2,5.422525,5.541781,5.400620,5.520,23844800.0,2015-09-08,NaN
3,5.536915,5.583158,5.398188,5.410,28939200.0,2015-09-09,NaN
4,5.378717,5.563686,5.354378,5.496,35707600.0,2015-09-10,NaN
...,...,...,...,...,...,...,...
1758,160.199997,163.380005,157.669998,158.010,49613200.0,2022-08-29,52438850.0
1759,159.600006,160.389999,151.820007,154.680,53018100.0,2022-08-30,52642120.0
1760,153.839996,155.399994,149.589996,150.940,57371000.0,2022-08-31,53419940.0
1761,142.089996,143.800003,132.699997,139.370,117886500.0,2022-09-01,57266005.0
1762,141.000000,141.710007,135.910004,136.470,74259000.0,2022-09-02,59049950.0

In [2]:
df.High.max()

346.2953987488861

In [55]:
# make sure target date
target_date = '2021-10-19'
target_index = df[df.datetime == target_date].index.values[0] + 1
# 
time_zone = 60
start_index = target_index - time_zone
window = df[start_index : target_index]
window.index = range(len(window))
price_max = window.High.max()
index_max = window[window.High == price_max].index.values[0]
price_min = window[index_max:].Low.min()
index_min = window[window.Low == price_min].index.values[0]
tail = window.tail(3)
len_cut = len(tail[tail.Volume < tail.VMA20])
if (price_max - price_min) / price_max < 0.3:
    if window.tail(1).Close.values[0] < (price_max - price_min)/3+ price_min and len_cut == 3:
        print('cheat zone')
    elif window.tail(1).Close.values[0] > price_max - (price_max - price_min)/3 and len_cut == 3:
        print('handle zone')

handle zone

In [53]:
tail = df.tail(3)
len(tail[tail.Volume < tail.VMA20])

0

In [18]:
window.tail(3).volume.mean(), window.tail(3).VMA20.mean()

(19265366.666666668, nan)

In [8]:
window.tail(1).close

59    222.9
Name: close, dtype: float64

In [6]:
index_max, price_max,index_min, price_min,

(24, 230.42999267578125, 48, 195.5500030517578)

(56, 44.79999923706055)

fine