In [ ]:
# //@version=4
# study("Relative Strength", shorttitle="RS", resolution="")
# comparativeTickerId = input("SPX", type=input.symbol, title="Comparative Symbol")
# length50day
# length = input(50, type=input.integer, minval=1, title="Period")
# showMA = input(defval=false, type=input.bool, title="Show Moving Average")
# lenghtMA = input(10, type=input.integer, minval=1, title="Moving Average Period")

# baseSymbol = security(syminfo.tickerid, timeframe.period, close)
# comparativeSymbol = security(comparativeTickerId, timeframe.period, close)
# hline(0, color=color.black, linestyle=hline.style_dotted)

# Main
# res = baseSymbol / baseSymbol[lenght] / 
#    (comparativeSymbol / comparativeSymbol[lenght]) - 1
# plot(res, title="RS", color=#1155CC)
# sma_1 = sma(res, lenghtMA)
# plot(showMA ? sma_1 : na, color=color.gray)

In [9]:
import tushare as ts
from config import token
import talib as ta

In [5]:
pro = ts.pro_api(token=token)

#获取富时中国50指数
df = pro.index_global(ts_code='SPX')

In [7]:
df = df[::-1]
df.index = range(len(df))

In [8]:
df

,ts_code,trade_date,open,close,high,low,pre_close,change,pct_chg,swing,vol
0,SPX,20060908,1294.02,1298.92,1300.14,1294.02,1294.02,4.90,0.38,0.47,NaN
1,SPX,20060911,1298.86,1299.54,1302.36,1290.93,1298.92,0.62,0.05,0.88,NaN
2,SPX,20060912,1299.53,1313.11,1314.28,1299.53,1299.54,13.57,1.04,1.14,NaN
3,SPX,20060913,1312.74,1318.07,1319.92,1311.12,1313.11,4.95,0.38,0.67,NaN
4,SPX,20060914,1318.00,1316.28,1318.00,1313.25,1318.07,-1.78,-0.14,0.36,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3995,SPX,20220811,4227.40,4207.27,4257.91,4201.41,4210.24,-2.97,-0.07,1.34,2080835.0
3996,SPX,20220812,4225.02,4280.15,4280.47,4219.78,4207.27,72.88,1.73,1.44,1828501.0
3997,SPX,20220815,4269.37,4297.14,4301.79,4256.90,4280.15,16.99,0.40,1.05,1777923.0
3998,SPX,20220816,4290.46,4305.20,4325.28,4277.77,4297.14,8.06,0.19,1.11,1912449.0
3999,SPX,20220817,4280.40,4274.04,4302.18,4253.08,4305.20,-31.16,-0.72,1.14,1862586.0

In [11]:
df['MA20'] = ta.SMA(df.close, timeperiod=20)

/var/folders/lz/kp_y7_p51sbc8gskvwtst_6h0000gp/T/ipykernel_3576/1018772487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MA20'] = ta.SMA(df.close, timeperiod=20)

In [12]:
df

,ts_code,trade_date,open,close,high,low,pre_close,change,pct_chg,swing,vol,MA20
0,SPX,20060908,1294.02,1298.92,1300.14,1294.02,1294.02,4.90,0.38,0.47,NaN,NaN
1,SPX,20060911,1298.86,1299.54,1302.36,1290.93,1298.92,0.62,0.05,0.88,NaN,NaN
2,SPX,20060912,1299.53,1313.11,1314.28,1299.53,1299.54,13.57,1.04,1.14,NaN,NaN
3,SPX,20060913,1312.74,1318.07,1319.92,1311.12,1313.11,4.95,0.38,0.67,NaN,NaN
4,SPX,20060914,1318.00,1316.28,1318.00,1313.25,1318.07,-1.78,-0.14,0.36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,SPX,20220811,4227.40,4207.27,4257.91,4201.41,4210.24,-2.97,-0.07,1.34,2080835.0,4050.3780
3996,SPX,20220812,4225.02,4280.15,4280.47,4219.78,4207.27,72.88,1.73,1.44,1828501.0,4071.2275
3997,SPX,20220815,4269.37,4297.14,4301.79,4256.90,4280.15,16.99,0.40,1.05,1777923.0,4094.5420
3998,SPX,20220816,4290.46,4305.20,4325.28,4277.77,4297.14,8.06,0.19,1.11,1912449.0,4112.9675
3999,SPX,20220817,4280.40,4274.04,4302.18,4253.08,4305.20,-31.16,-0.72,1.14,1862586.0,4128.6745

In [27]:
spx_ma = (df.iloc[-1].MA20  - df.iloc[-365].MA20) / df.iloc[-365].MA20

In [15]:
import yfinance as yf
aapl = yf.Ticker('AAPL')

In [16]:
aapl_his = aapl.history(period='4y')

In [19]:
aapl_his['MA20'] = ta.SMA(aapl_his.Close, timeperiod=20)

In [28]:
aapl_ma = (aapl_his.iloc[-1].MA20  - aapl_his.iloc[-365].MA20) / aapl_his.iloc[-365].MA20

In [29]:
aapl_ma

0.29827499280854547

In [30]:
spx_ma

0.06251443572728446