In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
name_engine = create_engine('sqlite:///../../../dataset/us/us_ticker_list_with_name.db')
revenue_engine = create_engine('sqlite:///../../../dataset/us/us_ticker_revenue.db')

In [2]:
name_df = pd.read_sql('TOTAL',con=name_engine)
name_arr = np.array(name_df.Symbol)
name_df[name_df.Symbol == 'MSTF']

Empty DataFrame
Columns: [Symbol, Company Name, Industry, Market Cap]
Index: []

In [13]:
quarter_revenue = pd.read_sql('{}-Quarter'.format('AAL'),con=revenue_engine)
quarter_revenue['revenue_growth'] = 0.0
for i in range(len(quarter_revenue)-4):
    quarter_revenue.revenue_growth.iloc[i] = (quarter_revenue.revenue.iloc[i] - quarter_revenue.revenue.iloc[i+4]) / quarter_revenue.revenue.iloc[i+4]
quarter_revenue['fixed_revenue_growth'] = 0.0
for i in range(len(quarter_revenue)-1):
    quarter_revenue.fixed_revenue_growth.iloc[i] = (quarter_revenue.revenue_growth.iloc[i] + quarter_revenue.revenue_growth.iloc[i+1]) / 2 
quarter_revenue

      datetime  revenue  revenue_growth  fixed_revenue_growth
0   2022-06-30  13422.0        0.794865              1.007213
1   2022-03-31   8896.0        1.219561              1.280255
2   2021-12-31   9427.0        1.340949              1.583806
3   2021-09-30   8969.0        1.826662              2.718510
4   2021-06-30   7478.0        3.610358              1.540528
5   2021-03-31   4008.0       -0.529301             -0.586670
6   2020-12-31   4027.0       -0.644038             -0.688823
7   2020-09-30   3173.0       -0.733608             -0.798994
8   2020-06-30   1622.0       -0.864381             -0.529933
9   2020-03-31   8515.0       -0.195484             -0.080600
10  2019-12-31  11313.0        0.034284              0.032368
11  2019-09-30  11911.0        0.030452              0.028840
12  2019-06-30  11960.0        0.027227              0.022411
13  2019-03-31  10584.0        0.017594              0.024254
14  2018-12-31  10938.0        0.030914              0.042543
15  2018-09-30  11559.0        0.054172              0.045613
16  2018-06-30  11643.0        0.037054              0.048109
17  2018-03-31  10401.0        0.059165              0.073685
18  2017-12-31  10610.0        0.088205              0.061612
19  2017-09-30  10965.0        0.035020              0.059197
20  2017-06-30  11227.0        0.083374              0.062090
21  2017-03-31   9820.0        0.040806              0.026633
22  2016-12-31   9750.0        0.012461              0.001000
23  2016-09-30  10594.0       -0.010461             -0.026659
24  2016-06-30  10363.0       -0.042856             -0.041373
25  2016-03-31   9435.0       -0.039890             -0.046074
26  2015-12-31   9630.0       -0.052259             -0.045566
27  2015-09-30  10706.0       -0.038872             -0.042686
28  2015-06-30  10827.0       -0.046499             -0.031654
29  2015-03-31   9827.0       -0.016808              0.181132
30  2014-12-31  10161.0        0.379072              0.505221
31  2014-09-30  11139.0        0.631371              0.696054
32  2014-06-30  11355.0        0.760738              0.699900
33  2014-03-31   9995.0        0.639062              0.440046
34  2013-12-31   7368.0        0.241031              0.151547
35  2013-09-30   6828.0        0.062063              0.030799
36  2013-06-30   6449.0       -0.000465              0.004820
37  2013-03-31   6098.0        0.010104              0.003457
38  2012-12-31   5937.0       -0.003190              0.002561
39  2012-09-30   6429.0        0.008312              0.031798
40  2012-06-30   6452.0        0.055283              0.073186
41  2012-03-31   6037.0        0.091090              0.078663
42  2011-12-31   5956.0        0.066237              0.078822
43  2011-09-30   6376.0        0.091407              0.084477
44  2011-06-30   6114.0        0.077547              0.084649
45  2011-03-31   5533.0        0.091752              0.097634
46  2010-12-31   5586.0        0.103516              0.121487
47  2010-09-30   5842.0        0.139458              0.150011
48  2010-06-30   5674.0        0.160565              0.103944
49  2010-03-31   5068.0        0.047324              0.023662
50  2009-12-31   5062.0        0.000000              0.000000
51  2009-09-30   5127.0        0.000000              0.000000
52  2009-06-30   4889.0        0.000000              0.000000
53  2009-03-31   4839.0        0.000000              0.000000

In [ ]:
pd.set_option('mode.chained_assignment', None)
selected_df = pd.DataFrame(columns=['ticker','revenue_g1','revenue_g2','revenue_g3'])
for ticker in name_arr:
    try:
        # annual_revenue = pd.read_sql('{}-Annual'.format(ticker), con=revenue_engine)
        quarter_revenue = pd.read_sql('{}-Quarter'.format(ticker),con=revenue_engine)
        quarter_revenue['revenue_growth'] = 0.0
        for i in range(len(quarter_revenue)-4):
            quarter_revenue.revenue_growth.iloc[i] = (quarter_revenue.revenue.iloc[i] - quarter_revenue.revenue.iloc[i+4]) / quarter_revenue.revenue.iloc[i+4]
        quarter_revenue['fixed_revenue_growth'] = 0.0
        for i in range(len(quarter_revenue)-1):
            quarter_revenue.fixed_revenue_growth.iloc[i] = (quarter_revenue.revenue_growth.iloc[i] + quarter_revenue.revenue_growth.iloc[i+1]) / 2 
        # pick the ticker
        if quarter_revenue.iloc[0].revenue_growth > quarter_revenue.iloc[1].revenue_growth > quarter_revenue.iloc[2].revenue_growth > 0.2 or quarter_revenue.iloc[0].revenue_growth > 1:
            revenue_g1 = quarter_revenue.iloc[0].revenue_growth
            revenue_g2 = quarter_revenue.iloc[1].revenue_growth
            revenue_g3 = quarter_revenue.iloc[2].revenue_growth
            temp = pd.DataFrame([[ticker,revenue_g1,revenue_g2,revenue_g3]],columns=['ticker','revenue_g1','revenue_g2','revenue_g3'])
            selected_df = pd.concat([selected_df,temp])
            print('{} selected'.format(ticker))
        elif quarter_revenue.iloc[0].fixed_revenue_growth > quarter_revenue.iloc[1].fixed_revenue_growth > quarter_revenue.iloc[2].fixed_revenue_growth > 0.2 or quarter_revenue.iloc[0].fixed_revenue_growth > 1:
            revenue_g1 = quarter_revenue.iloc[0].fixed_revenue_growth
            revenue_g2 = quarter_revenue.iloc[1].fixed_revenue_growth
            revenue_g3 = quarter_revenue.iloc[2].fixed_revenue_growth
            temp = pd.DataFrame([[ticker,revenue_g1,revenue_g2,revenue_g3]],columns=['ticker','revenue_g1','revenue_g2','revenue_g3'])
            selected_df = pd.concat([selected_df,temp])
            print('{} selected'.format(ticker))
        else:
            print('{} not selected'.format(ticker))
    except:
        print('{} not exsit'.format(ticker))
selected_df.dropna(axis=0,inplace=True)
selected_df.to_csv('selected_ticker_by_revenue.csv',index=None)

In [15]:
selected_df

Empty DataFrame
Columns: [ticker, revenue_g1, revenue_g2, revenue_g3]
Index: []

In [7]:
quarter_revenue = pd.read_sql('AAL-Qarter',con=revenue_engine)
quarter_revenue

OperationalError: (sqlite3.OperationalError) near "AAL": syntax error
[SQL: AAL-Qarter]
(Background on this error at: https://sqlalche.me/e/14/e3q8)