In [8]:
import pandas as pd
# from get_score import get_score_ch
from sqlalchemy import create_engine
engine= create_engine('sqlite:///../../dataset/us/ticker_symbol_us.db')
df = pd.read_sql('TOTAL',engine)

In [6]:
df = df.sort_values('Ticker')

In [7]:
df

     Ticker              Sector Exchange
6397      A          Healthcare     NYSE
7357     AA     Basic_Materials     NYSE
4232    AAC           Financial     NYSE
3523   AACG  Consumer_Defensive   NASDAQ
670    AACI           Financial   NASDAQ
...     ...                 ...      ...
6852    ZWS         Industrials     NYSE
669      ZY     Basic_Materials   NASDAQ
6529   ZYME          Healthcare     NYSE
3028   ZYNE          Healthcare   NASDAQ
3029   ZYXI          Healthcare   NASDAQ

[7965 rows x 3 columns]

In [9]:
df.loc[3319]

Ticker                   FRGI
Sector      Consumer_Cyclical
Exchange               NASDAQ
Name: 3319, dtype: object

In [14]:
df[df.Ticker == 'GOOG']

     Ticker                  Sector Exchange
3098   GOOG  Communication_Services   NASDAQ

In [13]:
df[3319:]

     Ticker             Sector Exchange
3319   FRGI  Consumer_Cyclical   NASDAQ
3320   FRSX  Consumer_Cyclical   NASDAQ
3321   FTDR  Consumer_Cyclical   NASDAQ
3322    FUV  Consumer_Cyclical   NASDAQ
3323   FWRG  Consumer_Cyclical   NASDAQ
...     ...                ...      ...
7960   YETI  Consumer_Cyclical     NYSE
7961    YSG  Consumer_Cyclical     NYSE
7962    YUM  Consumer_Cyclical     NYSE
7963   YUMC  Consumer_Cyclical     NYSE
7964    ZGN  Consumer_Cyclical     NYSE

[4646 rows x 3 columns]