In [ ]:
for i in range(4):
    print(i)

In [1]:
import pandas as pd

df = pd.DataFrame([[1,2,4,5]],columns=['1','2','3','4'])
df

   1  2  3  4
0  1  2  4  5

In [18]:
def test_df(df,temp1):
    num = df['1'].values[0]
    print(num,temp1)
    if num < temp1:
        return 0
    else:
        return 2

In [19]:
ans = test_df(df,0)
ans

1 0

2