In [1]:
for i in range(4):
    print(i)

0
1
2
3

In [2]:
lis = [0,1,2,3]
print(len(lis))

4

In [3]:
from config import token
import tushare as ts

In [4]:
pro = ts.pro_api(token)
df = pro.us_tradecal(start_date='20190101', end_date='20220701')

In [5]:
df[]

      cal_date  is_open pretrade_date
0     20220701        1      20220630
1     20220630        1      20220629
2     20220629        1      20220628
3     20220628        1      20220627
4     20220627        1      20220624
...        ...      ...           ...
1273  20190105        0      20190103
1274  20190104        1      20190103
1275  20190103        1      20190102
1276  20190102        1      20181231
1277  20190101        0      20181228

[1278 rows x 3 columns]