In [2]:
# Pandas
import pandas as pd
import talib as ta
import numpy as np
# from get_score import get_score_ch
from sqlalchemy import create_engine

In [3]:
engine= create_engine('sqlite:///../single_ticker_price/us/us_ticker_price_yf.db')
df = pd.read_sql('BABA', engine)
df.rename(columns={'hgih':'high'},inplace=True)

In [4]:
df['chg_pct'] = ((df.close - df.open)/df.open)*100
df[df.chg_pct>0].chg_pct.describe()

In [6]:
df[df.chg_pct>0].index

Int64Index([   0,    3,    5,    9,   13,   14,   18,   19,   21,   22,
            ...
            1951, 1952, 1953, 1954, 1957, 1959, 1960, 1961, 1962, 1966],
           dtype='int64', length=927)

In [7]:
df = pd.read_sql('AAPL', engine)
df.rename(columns={'hgih':'high'},inplace=True)
df['chg_pct'] = ((df.close - df.open)/df.open)*100
df[df.chg_pct>0].chg_pct.describe()

count    4771.000000
mean        1.759120
std         1.744129
min         0.006525
25%         0.587720
50%         1.220762
75%         2.343926
max        19.265611
Name: chg_pct, dtype: float64

In [8]:
timeperiods_close = [10, 20, 50, 150, 200]
timeperiods_volume = [20, 50]
# Get Close Price MA
# for i in timeperiods_close:
#     df['MA {}'.format(i)] = ta.SMA(df.close, timeperiod = i)

# Get Volume MA
for i in timeperiods_volume:
    df['VMA{}'.format(i)] = ta.SMA(df.volume, timeperiod=i)

In [9]:
df

,open,high,low,close,Adj Close,volume,datetime,chg_pct,VMA20,VMA50
0,0.128348,0.128906,0.128348,0.128348,0.100178,469033600,1980-12-12,0.000000,NaN,NaN
1,0.122210,0.122210,0.121652,0.121652,0.094952,175884800,1980-12-15,-0.456594,NaN,NaN
2,0.113281,0.113281,0.112723,0.112723,0.087983,105728000,1980-12-16,-0.492577,NaN,NaN
3,0.115513,0.116071,0.115513,0.115513,0.090160,86441600,1980-12-17,0.000000,NaN,NaN
4,0.118862,0.119420,0.118862,0.118862,0.092774,73449600,1980-12-18,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10480,145.259995,147.550003,145.000000,147.039993,147.039993,64493200,2022-07-08,1.225388,83485525.0,96986804.0
10481,145.669998,146.639999,143.779999,144.869995,144.869995,63141600,2022-07-11,-0.549189,83168955.0,96488372.0
10482,145.759995,148.449997,145.050003,145.860001,145.860001,77588800,2022-07-12,0.068610,82476500.0,95435812.0
10483,142.990005,146.449997,142.119995,145.490005,145.490005,71185600,2022-07-13,1.748374,79925425.0,94224572.0
10484,144.080002,148.949997,143.250000,148.470001,148.470001,77996900,2022-07-14,3.046918,79586055.0,93323404.0

In [10]:
len_df = len(df)

In [11]:
get_profit_list = []
for i in range(361,len_df):
    max_ = df.loc[i-360:i].high.max()
    if max_*0.95 < df.loc[i].close:
        if df.loc[i].volume < df.loc[i].VMA50 * 1.1:
            get_profit_list.append(df.loc[i].datetime)

In [12]:
len(get_profit_list) / len_df

0.1296137339055794

In [13]:
get_profit_list = []
for i in range(361,len_df):
    max_ = df.loc[i-360:i].high.max()
    if max_*0.97 < df.loc[i].close:
        if df.loc[i].volume < df.loc[i].VMA50:
            get_profit_list.append(df.loc[i].datetime)

In [14]:
len(get_profit_list) / len_df

0.07381974248927038

In [15]:
get_profit_list

['1982-11-11',
 '1982-12-06',
 '1983-01-27',
 '1983-02-14',
 '1983-02-23',
 '1983-02-24',
 '1983-05-04',
 '1983-05-06',
 '1983-05-09',
 '1983-05-10',
 '1983-05-19',
 '1983-05-23',
 '1983-05-24',
 '1983-05-26',
 '1983-05-27',
 '1983-06-03',
 '1983-06-06',
 '1986-04-28',
 '1986-05-05',
 '1986-05-22',
 '1986-05-23',
 '1986-05-27',
 '1986-05-28',
 '1986-05-29',
 '1986-05-30',
 '1986-06-02',
 '1986-06-05',
 '1987-01-09',
 '1987-01-12',
 '1987-01-13',
 '1987-02-02',
 '1987-04-09',
 '1987-04-20',
 '1987-04-23',
 '1987-04-29',
 '1987-04-30',
 '1987-05-01',
 '1987-05-04',
 '1987-05-05',
 '1987-05-06',
 '1987-05-07',
 '1987-05-28',
 '1987-06-22',
 '1987-06-23',
 '1987-06-24',
 '1987-07-16',
 '1987-08-10',
 '1987-08-14',
 '1987-08-17',
 '1987-08-19',
 '1987-08-21',
 '1987-08-24',
 '1987-09-10',
 '1987-09-11',
 '1987-09-25',
 '1987-10-01',
 '1987-10-02',
 '1987-10-05',
 '1989-05-26',
 '1989-05-31',
 '1989-06-01',
 '1989-06-02',
 '1989-06-07',
 '1991-01-24',
 '1991-01-25',
 '1991-01-29',
 '1991-01-31',
 '1991-02-06',
 '1991-02-12',
 '1991-02-13',
 '1991-02-19',
 '1991-02-20',
 '1991-03-13',
 '1991-03-15',
 '1991-03-18',
 '1991-03-27',
 '1991-04-01',
 '1991-04-04',
 '1995-06-23',
 '1995-07-17',
 '1998-04-21',
 '1998-05-05',
 '1998-05-08',
 '1999-01-11',
 '1999-06-07',
 '1999-07-12',
 '1999-07-30',
 '1999-08-16',
 '1999-08-17',
 '1999-08-23',
 '1999-08-25',
 '1999-08-26',
 '1999-08-27',
 '1999-09-10',
 '1999-09-14',
 '1999-09-16',
 '1999-09-17',
 '1999-09-20',
 '1999-10-28',
 '1999-10-29',
 '1999-11-02',
 '1999-11-03',
 '1999-11-04',
 '1999-11-05',
 '1999-11-26',
 '1999-12-01',
 '1999-12-02',
 '1999-12-06',
 '1999-12-07',
 '2000-02-15',
 '2004-03-12',
 '2004-03-29',
 '2004-03-30',
 '2004-04-02',
 '2004-04-06',
 '2004-04-08',
 '2004-04-12',
 '2004-04-16',
 '2004-06-02',
 '2004-06-07',
 '2004-06-10',
 '2004-06-14',
 '2004-06-22',
 '2004-06-24',
 '2004-06-25',
 '2004-08-27',
 '2004-08-31',
 '2004-09-02',
 '2004-09-03',
 '2004-09-07',
 '2004-09-08',
 '2004-09-10',
 '2004-09-13',
 '2004-09-14',
 '2004-09-20',
 '2004-09-21',
 '2004-09-28',
 '2004-09-29',
 '2004-10-22',
 '2004-10-25',
 '2004-11-10',
 '2004-11-11',
 '2004-11-12',
 '2004-11-15',
 '2004-11-16',
 '2004-11-17',
 '2004-11-18',
 '2004-11-26',
 '2005-01-26',
 '2005-01-27',
 '2005-01-28',
 '2005-02-01',
 '2005-02-02',
 '2005-02-03',
 '2005-02-04',
 '2005-02-07',
 '2005-02-08',
 '2005-02-25',
 '2005-02-28',
 '2005-03-01',
 '2005-03-02',
 '2005-08-31',
 '2005-09-12',
 '2005-09-27',
 '2005-10-24',
 '2005-10-25',
 '2005-10-26',
 '2005-11-10',
 '2005-11-11',
 '2005-11-14',
 '2005-11-15',
 '2005-11-17',
 '2005-11-18',
 '2005-11-21',
 '2005-11-22',
 '2005-11-23',
 '2005-11-25',
 '2005-12-05',
 '2005-12-07',
 '2005-12-09',
 '2005-12-12',
 '2005-12-13',
 '2005-12-21',
 '2005-12-22',
 '2005-12-23',
 '2005-12-27',
 '2005-12-28',
 '2006-01-04',
 '2006-01-05',
 '2006-11-13',
 '2006-11-14',
 '2006-11-15',
 '2006-11-16',
 '2006-11-17',
 '2006-11-20',
 '2006-11-21',
 '2006-11-24',
 '2006-12-05',
 '2007-04-27',
 '2007-04-30',
 '2007-05-01',
 '2007-05-02',
 '2007-05-03',
 '2007-05-04',
 '2007-05-11',
 '2007-05-14',
 '2007-05-18',
 '2007-05-21',
 '2007-05-22',
 '2007-05-25',
 '2007-05-29',
 '2007-06-21',
 '2007-07-06',
 '2007-07-11',
 '2007-07-12',
 '2007-07-13',
 '2007-07-16',
 '2007-07-17',
 '2007-07-18',
 '2007-07-19',
 '2007-09-24',
 '2007-09-26',
 '2007-09-27',
 '2007-09-28',
 '2007-10-01',
 '2007-10-02',
 '2007-10-03',
 '2007-10-04',
 '2007-10-05',
 '2007-10-08',
 '2007-10-10',
 '2007-10-12',
 '2007-10-18',
 '2007-10-26',
 '2007-10-29',
 '2007-10-30',
 '2007-10-31',
 '2007-11-01',
 '2007-11-02',
 '2007-11-05',
 '2007-11-06',
 '2007-12-06',
 '2007-12-07',
 '2007-12-10',
 '2007-12-13',
 '2007-12-21',
 '2007-12-24',
 '2007-12-26',
 '2007-12-27',
 '2007-12-28',
 '2007-12-31',
 '2009-10-08',
 '2009-10-09',
 '2009-10-12',
 '2009-10-13',
 '2009-10-14',
 '2009-10-15',
 '2009-10-16',
 '2009-10-23',
 '2009-10-26',
 '2009-11-10',
 '2009-11-11',
 '2009-11-13',
 '2009-11-16',
 '2009-11-17',
 '2009-11-18',
 '2009-11-23',
 '2009-11-24',
 '2009-11-25',
 '2009-12-24',
 '2009-12-29',
 '2009-12-30',
 '2009-12-31',
 '2010-01-04',
 '2010-01-07',
 '2010-01-08',
 '2010-01-11',
 '2010-01-14',
 '2010-03-03',
 '2010-03-04',
 '2010-03-08',
 '2010-03-10',
 '2010-03-11',
 '2010-03-12',
 '2010-03-15',
 '2010-03-16',
 '2010-03-17',
 '2010-03-18',
 '2010-03-19',
 '2010-03-22',
 '2010-03-23',
 '2010-03-24',
 '2010-03-25',
 '2010-03-26',
 '2010-03-29',
 '2010-03-30',
 '2010-03-31',
 '2010-04-01',
 '2010-04-06',
 '2010-04-08',
 '2010-04-09',
 '2010-04-12',
 '2010-04-13',
 '2010-04-14',
 '2010-04-15',
 '2010-04-26',
 '2010-05-03',
 '2010-06-22',
 '2010-06-23',
 '2010-09-27',
 '2010-09-29',
 '2010-10-07',
 '2010-10-11',
 '2010-10-14',
 '2010-10-21',
 '2010-11-03',
 '2010-11-05',
 '2010-11-08',
 '2010-11-09',
 '2010-11-10',
 '2010-11-11',
 '2010-11-22',
 '2010-11-24',
 '2010-11-26',
 '2010-11-29',
 '2010-12-01',
 '2010-12-02',
 '2010-12-03',
 '2010-12-06',
 '2010-12-07',
 '2010-12-08',
 '2010-12-09',
 '2010-12-10',
 '2010-12-13',
 '2010-12-14',
 '2010-12-15',
 '2010-12-16',
 '2010-12-17',
 '2010-12-20',
 '2010-12-21',
 '2010-12-22',
 '2010-12-23',
 '2010-12-27',
 '2010-12-28',
 '2010-12-29',
 '2010-12-30',
 '2010-12-31',
 '2011-01-04',
 '2011-01-05',
 '2011-01-06',
 '2011-01-07',
 '2011-01-12',
 '2011-01-13',
 '2011-01-14',
 '2011-01-27',
 '2011-01-31',
 '2011-02-02',
 '2011-02-03',
 '2011-02-04',
 '2011-02-08',
 '2011-02-11',
 '2011-02-14',
 '2011-02-15',
 '2011-03-04',
 '2011-03-08',
 '2011-09-15',
 '2011-09-21',
 '2011-10-14',
 '2012-01-05',
 '2012-01-06',
 '2012-01-10',
 '2012-01-11',
 '2012-01-12',
 '2012-01-13',
 '2012-01-17',
 '2012-01-18',
 '2012-01-19',
 '2012-01-23',
 '2012-01-26',
 '2012-01-27',
 '2012-02-01',
 '2012-02-02',
 '2012-02-03',
 '2012-02-06',
 '2012-02-07',
 '2012-03-09',
 '2012-03-12',
 '2012-03-23',
 '2012-04-02',
 '2012-04-04',
 '2012-04-09',
 '2012-08-13',
 '2012-08-14',
 '2012-08-15',
 '2012-08-16',
 '2012-08-28',
 '2012-08-29',
 '2012-08-30',
 '2012-08-31',
 '2012-09-04',
 '2012-09-05',
 '2012-09-07',
 '2012-09-17',
 '2012-09-18',
 '2012-09-19',
 '2012-09-20',
 '2014-05-01',
 '2014-05-02',
 '2014-05-08',
 '2014-05-12',
 '2014-05-13',
 '2014-05-14',
 '2014-05-15',
 '2014-05-20',
 '2014-05-21',
 '2014-05-22',
 '2014-05-23',
 '2014-06-10',
 '2014-06-11',
 '2014-06-12',
 '2014-06-16',
 '2014-06-30',
 '2014-07-01',
 '2014-07-02',
 '2014-07-03',
 '2014-07-07',
 '2014-07-09',
 '2014-07-10',
 '2014-07-11',
 '2014-07-14',
 '2014-07-15',
 '2014-07-16',
 '2014-07-18',
 '2014-07-22',
 '2014-07-24',
 '2014-07-25',
 '2014-07-28',
 '2014-07-29',
 '2014-07-30',
 '2014-08-13',
 '2014-08-14',
 '2014-08-21',
 '2014-08-22',
 '2014-08-25',
 '2014-08-26',
 '2014-08-29',
 '2014-09-18',
 '2014-09-22',
 '2014-09-30',
 '2014-10-24',
 '2014-10-27',
 '2014-10-28',
 '2014-10-29',
 '2014-10-30',
 '2014-10-31',
 '2014-11-03',
 '2014-11-04',
 '2014-11-05',
 '2014-11-06',
 '2014-11-07',
 '2014-11-10',
 '2014-11-11',
 '2014-11-12',
 '2014-11-13',
 '2014-11-14',
 '2014-11-17',
 '2014-11-18',
 '2014-11-19',
 '2014-11-20',
 '2014-11-24',
 '2014-11-26',
 '2014-11-28',
 '2015-02-03',
 '2015-02-05',
 '2015-02-06',
 '2015-02-09',
 '2015-02-13',
 '2015-02-18',
 '2015-02-19',
 '2015-02-20',
 '2015-04-23',
 '2015-04-24',
 '2015-05-21',
 '2015-05-22',
 '2015-05-27',
 '2015-05-28',
 '2015-06-01',
 '2017-01-26',
 '2017-01-27',
 '2017-02-03',
 '2017-02-06',
 '2017-02-08',
 '2017-02-09',
 '2017-02-10',
 '2017-02-13',
 '2017-02-16',
 '2017-02-17',
 '2017-02-21',
 '2017-02-22',
 '2017-02-23',
 '2017-02-24',
 '2017-02-27',
 '2017-02-28',
 '2017-03-02',
 '2017-03-03',
 '2017-03-06',
 '2017-03-07',
 '2017-03-08',
 '2017-03-09',
 '2017-03-10',
 '2017-03-13',
 '2017-03-14',
 '2017-03-15',
 '2017-03-16',
 '2017-03-20',
 '2017-03-22',
 '2017-03-23',
 '2017-03-24',
 '2017-03-27',
 '2017-03-30',
 '2017-03-31',
 '2017-04-03',
 '2017-04-04',
 '2017-04-06',
 '2017-04-07',
 '2017-04-10',
 '2017-04-12',
 '2017-04-17',
 '2017-04-18',
 '2017-04-20',
 '2017-04-21',
 '2017-04-24',
 '2017-04-25',
 '2017-04-26',
 '2017-04-27',
 '2017-04-28',
 '2017-05-04',
 '2017-05-16',
 '2017-05-22',
 '2017-05-23',
 '2017-05-24',
 '2017-05-25',
 '2017-05-26',
 '2017-05-30',
 '2017-05-31',
 '2017-06-01',
 '2017-06-07',
 '2017-06-08',
 '2017-07-24',
 '2017-07-25',
 '2017-07-26',
 '2017-08-04',
 '2017-08-07',
 '2017-08-09',
 '2017-08-11',
 '2017-08-14',
 '2017-08-16',
 '2017-08-17',
 '2017-08-22',
 '2017-08-23',
 '2017-08-24',
 '2017-08-25',
 '2017-09-01',
 '2017-09-06',
 '2017-09-07',
 '2017-10-17',
 '2017-11-07',
 '2017-11-08',
 '2017-11-10',
 '2017-11-13',
 '2017-11-14',
 '2017-11-16',
 '2017-11-21',
 '2017-11-22',
 '2017-11-24',
 '2017-11-27',
 '2017-11-28',
 '2017-12-12',
 '2017-12-13',
 '2017-12-14',
 '2017-12-20',
 '2017-12-21',
 '2017-12-22',
 '2018-01-02',
 '2018-01-04',
 '2018-01-05',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10',
 '2018-01-11',
 '2018-01-12',
 '2018-02-23',
 '2018-03-05',
 '2018-03-06',
 '2018-03-08',
 '2018-03-09',
 '2018-03-12',
 '2018-03-13',
 '2018-03-14',
 '2018-03-15',
 '2018-04-17',
 '2018-05-08',
 '2018-05-09',
 '2018-05-10',
 '2018-05-11',
 '2018-05-14',
 '2018-05-15',
 '2018-05-16',
 '2018-05-17',
 '2018-05-18',
 '2018-05-21',
 '2018-05-22',
 '2018-05-23',
 '2018-05-24',
 '2018-05-25',
 '2018-05-29',
 '2018-05-30',
 '2018-05-31',
 '2018-06-01',
 '2018-06-04',
 '2018-06-05',
 '2018-06-06',
 '2018-06-07',
 '2018-06-08',
 '2018-06-11',
 '2018-06-12',
 '2018-06-13',
 '2018-06-14',
 '2018-06-18',
 '2018-07-09',
 '2018-07-10',
 '2018-07-12',
 '2018-07-13',
 '2018-07-16',
 '2018-07-17',
 '2018-07-18',
 '2018-07-19',
 '2018-07-20',
 '2018-07-23',
 '2018-07-24',
 '2018-07-25',
 '2018-07-26',
 '2018-08-08',
 '2018-08-09',
 '2018-08-14',
 '2018-08-22',
 '2018-08-23',
 '2018-08-24',
 '2018-08-27',
 '2018-08-28',
 '2018-09-27',
 '2018-09-28',
 '2018-10-01',
 '2018-10-02',
 '2018-10-03',
 '2018-10-09',
 '2019-10-09',
 '2019-10-10',
 '2019-10-14',
 '2019-10-15',
 '2019-10-16',
 '2019-10-17',
 '2019-10-18',
 '2019-10-21',
 '2019-10-22',
 '2019-10-23',
 '2019-10-24',
 '2019-10-25',
 '2019-10-28',
 '2019-11-04',
 '2019-11-05',
 '2019-11-06',
 '2019-11-07',
 '2019-11-08',
 '2019-11-11',
 '2019-11-12',
 '2019-11-13',
 '2019-11-14',
 '2019-11-15',
 '2019-11-18',
 '2019-11-19',
 '2019-11-22',
 '2019-11-25',
 '2019-11-27',
 '2019-11-29',
 '2019-12-02',
 '2019-12-04',
 '2019-12-05',
 '2019-12-10',
 '2019-12-11',
 '2019-12-23',
 '2019-12-24',
 '2019-12-26',
 '2019-12-31',
 '2020-01-22',
 '2020-01-23',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-19',
 '2020-02-20',
 '2020-05-20',
 '2020-05-22',
 '2020-05-27',
 '2020-05-28',
 '2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-08',
 '2020-06-17',
 '2020-06-18',
 '2020-06-22',
 '2020-06-25',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-08-05',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-27',
 '2020-09-01',
 '2021-01-26',
 '2021-07-12',
 '2021-07-22',
 '2021-07-23',
 '2021-07-26',
 '2021-07-29',
 '2021-07-30',
 '2021-08-02',
 '2021-08-03',
 '2021-08-04',
 '2021-08-05',
 '2021-08-06',
 '2021-08-09',
 '2021-08-10',
 '2021-08-11',
 '2021-08-12',
 '2021-08-13',
 '2021-08-20',
 '2021-08-23',
 '2021-08-24',
 '2021-08-25',
 '2021-08-26',
 '2021-08-27',
 '2021-09-02',
 '2021-09-03',
 '2021-09-08',
 '2021-09-09',
 '2021-11-24',
 '2021-12-27',
 '2021-12-28',
 '2021-12-29',
 '2021-12-30',
 '2021-12-31',
 '2022-03-30',
 '2022-04-04']

In [17]:
get_profit_list[724:744]

['2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-08-05',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-27',
 '2020-09-01',
 '2021-01-26',
 '2021-07-12',
 '2021-07-22',
 '2021-07-23',
 '2021-07-26']

In [18]:
get_profit_df = pd.DataFrame({
    'datetime':get_profit_list
})

In [19]:
get_profit_df

       datetime
0    1982-11-11
1    1982-12-06
2    1983-01-27
3    1983-02-14
4    1983-02-23
..          ...
769  2021-12-29
770  2021-12-30
771  2021-12-31
772  2022-03-30
773  2022-04-04

[774 rows x 1 columns]

In [20]:
get_profit_df.to_csv('get_profit_datetime.csv',index=False)